.app-playback-time {
    display: flex;
    flex-direction: row;
}

.app-playback-time__progress {
}

.app-playback-time__separator {
    color: var(--theme-secondary-text);
}

.app-playback-time__total {
    color: var(--theme-secondary-text);
}
