<div class="window-button order-button"
     [matMenuTriggerFor]="itemMenu"
     matTooltip="{{ tooltipKey | translate }}">
    {{ itemKeyFn(currentItem) | translate }}
    <i class="ml-1 las la-angle-down secondary-text"></i>
</div>

<mat-menu #itemMenu="matMenu">
    <ng-container *ngFor="let item of items; let last = last">
        <button mat-menu-item (click)="applyItemFn(item)">
            {{ itemKeyFn(item) | translate }}
        </button>
        <mat-divider *ngIf="!last"></mat-divider>
    </ng-container>
</mat-menu>
