.app-slider-container {
    position: relative;
    width: 100%;
    height: 12px;
    cursor: pointer;
}

.app-slider-bar {
    position: absolute;
    width: 0;
    left: 0;
    top: 3.5px;
    z-index: 1;
    height: 5px;
    border-radius: 5px;
    background-color: var(--theme-accent-color);
}

.app-slider-track {
    position: absolute;
    width: 100%;
    right: 0;
    top: 3.5px;
    z-index: 0;
    height: 5px;
    border-radius: 5px;
    opacity: 0.2;
    background-color: var(--theme-slider-background);
}

.app-slider-thumb {
    position: absolute;
    margin-left: 0;
    top: 0;
    left: 0;
    z-index: 2;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background: var(--theme-slider-thumb-background);
    cursor: grab;
}
