.app-now-playing-showcase {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.app-now-playing-showcase__song {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 200px;
}

@media (max-width: 1200px) {
    .app-now-playing-showcase__song {
        margin: 100px;
    }
}

@media (max-width: 800px) {
    .app-now-playing-showcase__song {
        margin: 50px;
    }
}

.app-now-playing-showcase__cover {
    -webkit-box-reflect: below 4px - webkit-linear-gradient(transparent, transparent 80%, rgba(255, 255, 255, 0.3));
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.app-now-playing-showcase__songinfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
