<div class="app-now-playing-showcase">
    <div class="app-now-playing-showcase__song">
        <div class="app-now-playing-showcase__cover">
            <app-playback-cover-art [size]="coverArtSize" [borderRadius]="this.settings.showSquareImages ? 0 : 10"></app-playback-cover-art>
        </div>

        <div class="app-now-playing-showcase__songinfo" [style.height.px]="coverArtSize">
            <app-playback-information
                class="ml-4"
                [height]="playbackInformationHeight"
                [largeFontSize]="playbackInformationLargeFontSize"
                [smallFontSize]="playbackInformationSmallFontSize"
                position="bottom"
                [showRating]="this.settings.showRating"
                [showLove]="this.settings.showLove"
            >
            </app-playback-information>
        </div>
    </div>
</div>
