<app-dialog-header icon="las la-columns" title="{{ 'columns' | translate }}"></app-dialog-header>
<mat-dialog-content
    ><div class="d-flex flex-column">
        <div class="d-flex flex-row">
            <mat-checkbox [(ngModel)]="this.tracksColumnsVisibility.showRating">{{ 'rating' | translate }}</mat-checkbox>
        </div>
        <div class="d-flex flex-row">
            <mat-checkbox [(ngModel)]="this.tracksColumnsVisibility.showArtists">{{ 'artists' | translate }}</mat-checkbox>
        </div>
        <div class="d-flex flex-row">
            <mat-checkbox [(ngModel)]="this.tracksColumnsVisibility.showAlbum">{{ 'album' | translate }}</mat-checkbox>
        </div>
        <div class="d-flex flex-row">
            <mat-checkbox [(ngModel)]="this.tracksColumnsVisibility.showGenres">{{ 'genres' | translate }}</mat-checkbox>
        </div>
        <div class="d-flex flex-row">
            <mat-checkbox [(ngModel)]="this.tracksColumnsVisibility.showDuration">{{ 'duration' | translate }}</mat-checkbox>
        </div>
        <div class="d-flex flex-row">
            <mat-checkbox [(ngModel)]="this.tracksColumnsVisibility.showTrackNumber">{{ 'number' | translate }}</mat-checkbox>
        </div>
        <div class="d-flex flex-row">
            <mat-checkbox [(ngModel)]="this.tracksColumnsVisibility.showYear">{{ 'year' | translate }}</mat-checkbox>
        </div>
        <div class="d-flex flex-row">
            <mat-checkbox [(ngModel)]="this.tracksColumnsVisibility.showPlayCount">{{ 'plays' | translate }}</mat-checkbox>
        </div>
        <div class="d-flex flex-row">
            <mat-checkbox [(ngModel)]="this.tracksColumnsVisibility.showSkipCount">{{ 'skips' | translate }}</mat-checkbox>
        </div>
        <div class="d-flex flex-row">
            <mat-checkbox [(ngModel)]="this.tracksColumnsVisibility.showDateLastPlayed">{{ 'last-played' | translate }}</mat-checkbox>
        </div>
        <div class="d-flex flex-row">
            <mat-checkbox [(ngModel)]="this.tracksColumnsVisibility.showDateAdded">{{ 'date-added' | translate }}</mat-checkbox>
        </div>
    </div></mat-dialog-content
>
<mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="true" (click)="this.setTracksColumnsVisibility()">
        {{ 'ok' | translate | uppercase }}
    </button>
    <button mat-raised-button color="primary" [mat-dialog-close]="false">{{ 'cancel' | translate | uppercase }}</button>
</mat-dialog-actions>
