.app-playback-progress-container {
    position: relative;
    width: 100%;
    height: 12px;
    cursor: pointer;

    &.grabbing,
    &.grabbing .app-playback-progress-thumb {
        cursor: grabbing;
    }
}

.app-playback-progress-bar {
    position: absolute;
    width: 0%;
    left: 0;
    top: 0;
    z-index: 1;
    height: 12px;
    overflow: hidden;
}

.app-playback-progress-wave {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: visible;

    path {
        fill: none;
        stroke: var(--theme-accent-color);
        stroke-width: 2.5;
        stroke-linecap: round;
    }
}

.app-playback-progress-track {
    position: absolute;
    width: 100%;
    right: 0;
    top: 4.75px;
    z-index: 0;
    height: 2.5px;
    border-radius: 2.5px;
    background-color: var(--theme-slider-background);
}

.app-playback-progress-thumb {
    position: absolute;
    margin-left: 0%;
    top: 0;
    left: 0;
    z-index: 2;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: var(--theme-slider-thumb-background);
    cursor: grab;
}
