<div class="window-frame">
    <div class="window-frame-titlebar">
        <div class="window-frame-titlebar-dragarea">
        </div>
        <app-window-controls *ngIf="!appearanceService.windowHasNativeTitleBar"></app-window-controls>
    </div>
    <div class="window-frame-content">
        <div class="welcome">
            <app-logo-full class="animation-fade-in animation-duration-2s animation-delay-1s"></app-logo-full>
            <mat-horizontal-stepper class="welcome-stepper mt-4" [linear]="false" #stepper>
                <!-- Greeting -->
                <mat-step>
                    <div class="p-2">
                        <h1 class="mb-1 animation-fade-in animation-duration-2s animation-delay-2s">
                            {{ 'Pages.Welcome.Greeting.Title' | translate }}
                        </h1>
                        <h3 class="mb-1 animation-fade-in animation-duration-2s animation-delay-2s">
                            {{ 'Pages.Welcome.Greeting.Content' | translate }}
                        </h3>
                    </div>
                </mat-step>
                <!-- Language -->
                <mat-step>
                    <div class="p-2">
                        <h1 class="mb-1">
                            {{ 'Pages.Welcome.Language.Title' | translate }}
                        </h1>
                        <h3>
                            {{ 'Pages.Welcome.Language.Content' | translate }}
                        </h3>
                        <mat-form-field class="mt-2">
                            <mat-select [(ngModel)]="translatorService.selectedLanguage">
                                <mat-option *ngFor="let language of translatorService.languages" [value]="language">
                                    {{ language.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-step>
                <!-- Appearance -->
                <mat-step>
                    <div class="p-2">
                        <h1 class="mb-1">
                            {{ 'Pages.Welcome.Appearance.Title' | translate }}
                        </h1>
                        <h3>
                            {{ 'Pages.Welcome.Appearance.Content' | translate }}
                        </h3>
                        <mat-slide-toggle class="mt-2" [(ngModel)]="appearanceService.useLightBackgroundTheme">
                            {{ 'Pages.Welcome.Appearance.UseLightTheme' | translate }}</mat-slide-toggle>
                        <app-color-scheme-switcher class="mt-2"></app-color-scheme-switcher>
                    </div>
                </mat-step>
                <!-- Music -->
                <mat-step>
                    <div class="p-2">
                        <h1 class="mb-1">
                            {{ 'Pages.Welcome.Music.Title' | translate }}
                        </h1>
                        <h3>
                            {{ 'Pages.Welcome.Music.Content' | translate }}
                        </h3>
                        <app-add-folder class="mt-2"></app-add-folder>
                    </div>
                </mat-step>
                <!-- Donate -->
                <mat-step>
                    <div class="p-2">
                        <h1 class="mb-1">
                            {{ 'Pages.Welcome.Donate.Title' | translate }}
                        </h1>
                        <h3>
                            {{ 'Pages.Welcome.Donate.Content' | translate }}
                        </h3>
                        <div class="link-button mt-2">
                            <i class="link-button-icon custom-font mr-1 lar la-heart"></i>
                            <a href="{{ donateUrl }}">{{ 'Pages.Welcome.Donate.DonateNow' | translate }}</a>
                        </div>
                    </div>
                </mat-step>
                <!-- Done -->
                <mat-step>
                    <div class="p-2">
                        <h1 class="mb-1">
                            {{ 'Pages.Welcome.Done.Title' | translate }}
                        </h1>
                        <h3>
                            {{ 'Pages.Welcome.Done.Content' | translate }}
                        </h3>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
            <app-step-indicator class="my-4 animation-fade-in animation-duration-2s animation-delay-3s" [totalSteps]="totalSteps" [currentStep]="currentStep"></app-step-indicator>
            <div class="welcome-stepper-buttons animation-fade-in animation-duration-2s animation-delay-3s">
                <button *ngIf="canGoBack" class="transparent-button no-select mx-4" (click)="goBack(stepper)">
                    <i class="las la-angle-left welcome-stepper-buttons-icon custom-font"></i>
                </button>
                <button *ngIf="canGoForward" class="transparent-button no-select mx-4" (click)="goForward(stepper)">
                    <i class="las la-angle-right welcome-stepper-buttons-icon custom-font"></i>
                </button>
                <button *ngIf="canFinish" class="transparent-button no-select mx-4" (click)="finish()">
                    <i class="las la-check welcome-stepper-buttons-icon custom-font"></i>
                </button>
            </div>
        </div>
    </div>
</div>