<div class="app-artist no-select">
    <div class="app-artist__header pointer mx-1" *ngIf="artist.isZoomHeader" (click)="this.requestZoomOut()">
        {{ artist.zoomHeader }}
    </div>
    <div
        *ngIf="!artist.isZoomHeader"
        class="app-artist__name ellipsis px-1"
        [ngClass]="{
            'selected-item-background-important': artist.isSelected
        }"
        matRipple
        [matRippleTrigger]="trigger"
        #trigger
    >
        {{ artist.displayName }}
    </div>
</div>
