<div class="app-artist no-select">
    <div class="app-artist__header mt-2 mb-1 mx-1" *ngIf="artist.showHeader">{{ artist.header }}</div>
    <div
        class="app-artist__name ellipsis px-1"
        [ngClass]="{
            'selected-item-background': artist.isSelected,
            'selected-item-text-color-important': artist.isSelected && this.appearanceService.shouldOverrideSelectedItemText
        }"
        matRipple
        [matRippleTrigger]="trigger"
        #trigger
    >
        {{ artist.displayName }}
    </div>
</div>
