<div class="window-frame">
    <div class="window-frame__titlebar theme-header-background">
        <div class="window-frame__dragarea">
            <app-logo-small class="m-2"></app-logo-small>
        </div>
        <app-main-menu class="main-menu"> </app-main-menu>
        <app-window-controls *ngIf="!appearanceService.windowHasNativeTitleBar"></app-window-controls>
    </div>
    <div class="window-frame__content">
        <div class="collection-component">
            <mat-tab-group [(selectedIndex)]="selectedIndex">
                <mat-tab>
                    <ng-template mat-tab-label>
                        {{ 'Pages.Collection.Artists' | translate }}
                    </ng-template>
                    <app-collection-artists></app-collection-artists>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        {{ 'Pages.Collection.Genres' | translate }}
                    </ng-template>
                    <app-collection-genres></app-collection-genres>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        {{ 'Pages.Collection.Albums' | translate }}
                    </ng-template>
                    <app-collection-albums></app-collection-albums>
                </mat-tab>
                <!-- <mat-tab>
                    <ng-template mat-tab-label>
                        {{ 'Pages.Collection.Tracks' | translate }}
                    </ng-template>
                    <app-collection-tracks></app-collection-tracks>
                </mat-tab> -->
                <!-- <mat-tab>
                    <ng-template mat-tab-label>
                        {{ 'Pages.Collection.Playlists' | translate }}
                    </ng-template>
                    <app-collection-playlists></app-collection-playlists>
                </mat-tab> -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        {{ 'Pages.Collection.Folders' | translate }}
                    </ng-template>
                    <app-collection-folders></app-collection-folders>
                </mat-tab>
            </mat-tab-group>
            <app-collection-playback-pane></app-collection-playback-pane>
        </div>
    </div>
</div>
