.collection-component {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.collection-component__seachbox {
    width: 170px;
}

.collection-component__playbackpane {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
