<div class="window-frame">
  <div class="window-frame-titlebar theme-header-background">
    <div class="window-frame-titlebar-dragarea">
      <app-logo-small class="logo-small"></app-logo-small>
    </div>
    <app-main-menu class="main-menu">
    </app-main-menu>
    <app-window-controls *ngIf="!appearanceService.windowHasNativeTitleBar"></app-window-controls>
  </div>
  <div class="window-frame-content">
    <app-status-panel class="status-panel"></app-status-panel>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          {{ 'Pages.Collection.Explore' | translate }}
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          {{ 'Pages.Collection.Songs' | translate }}
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          {{ 'Pages.Collection.Playlists' | translate }}
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>