/.angular/cache
.idea/
.vscode/
.VSCodeCounter/
node_modules/
dist/
release/
coverage/
.DS_Store
main.js
main.js.map
main/api/discord/*.js
main/api/discord/*.js.map
main/common/application/*.js
main/common/application/*.js.map