.app-artist {
    display: flex;
    flex-direction: column;
}

.app-artist__header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, var(--theme-primary-color) 30%, var(--theme-secondary-color) 100%);
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 12px 0px 12px 12px;
    margin-bottom: 2px;
    margin-top: 4px;
}

.app-artist__name {
    height: 30px;
    line-height: 30px;
}

.app-artist__name:hover {
    background: var(--theme-hovered-item-background);
}
