.app-selected-artist__backgroundimage {
    filter: blur(8px);
    opacity: 0.15;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
