.app-now-playing-artist-info {
    padding: 120px;
    height: 100%;
}

.app-now-playing-artist-info__picture {
    width: 300px;
    height: 300px;
    margin-right: 50px;
    background: var(--theme-album-cover-background);
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.app-now-playing-artist-info__picture,
.app-now-playing-artist-info__picture * {
    border-radius: 10px;
}

.app-now-playing-artist-info__spinner {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.app-now-playing-artist-info__text {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.app-now-playing-artist-info__icon {
    color: var(--theme-album-cover-logo);
    font-size: 200px;
    display: flex;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
}
