<div class="window-frame">
    <div class="window-frame__titlebar theme-header-background">
        <div class="window-frame__dragarea">
            <app-back-button class="m-2"></app-back-button>
        </div>
        <app-main-menu> </app-main-menu>
        <app-window-controls *ngIf="!appearanceService.windowHasNativeTitleBar"></app-window-controls>
    </div>
    <div class="window-frame__content">
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    {{ 'about' | translate }}
                </ng-template>
                <app-about></app-about>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    {{ 'components' | translate }}
                </ng-template>
                <app-components></app-components>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
