<div class="app-playback-controls">
    <!-- Loop -->
    <div
        class="app-playback-controls__button pointer mx-1"
        (click)="playbackService.toggleLoopMode()"
        matTooltip="{{ 'loop' | translate }}"
    >
        <i
            *ngIf="this.playbackService.loopMode !== loopModeEnum.One"
            class="app-playback-controls__icon las la-redo-alt"
            [ngClass]="{
                'app-playback-controls__accent': this.playbackService.loopMode === loopModeEnum.All
            }"
        ></i>
        <i
            *ngIf="this.playbackService.loopMode === loopModeEnum.One"
            class="app-playback-controls__icon app-playback-controls__accent las la-redo"
        ></i>
    </div>

    <!-- Play previous -->
    <div
        class="app-playback-controls__button pointer mx-1"
        (click)="playbackService.playPrevious()"
        matTooltip="{{ 'previous' | translate }}"
    >
        <i class="app-playback-controls__icon las la-step-backward"></i>
    </div>

    <!-- Play/Pause -->
    <div
        *ngIf="playbackService.canPause"
        class="app-playback-controls__circled-button pointer mx-1"
        (click)="playbackService.pause()"
        matTooltip="{{ 'pause' | translate }}"
    >
        <i class="app-playback-controls__icon las la-pause"></i>
    </div>
    <div
        *ngIf="playbackService.canResume"
        class="app-playback-controls__circled-button pointer mx-1"
        (click)="playbackService.resume()"
        matTooltip="{{ 'play' | translate }}"
    >
        <i class="app-playback-controls__icon las la-play"></i>
    </div>

    <!-- Play next -->
    <div class="app-playback-controls__button pointer mx-1" (click)="playbackService.playNext()" matTooltip="{{ 'next' | translate }}">
        <i class="app-playback-controls__icon las la-step-forward"></i>
    </div>

    <!-- Shuffle -->
    <div
        class="app-playback-controls__button pointer mx-1"
        (click)="playbackService.toggleIsShuffled()"
        matTooltip="{{ 'shuffle' | translate }}"
    >
        <i
            class="app-playback-controls__icon las la-random"
            [ngClass]="{ 'app-playback-controls__accent': this.playbackService.isShuffled }"
        ></i>
    </div>
</div>
