<div class="app-playback-controls">
    <!-- Loop -->
    <div
        class="app-playback-controls__button pointer mx-1"
        (click)="playbackService.toggleLoopMode()"
        matRipple
        matTooltip="{{ 'loop' | translate }}"
    >
        <i
            *ngIf="this.playbackService.loopMode !== loopModeEnum.One"
            class="app-playback-controls__icon las la-redo-alt"
            [ngClass]="{
                'app-playback-controls__accent': this.playbackService.loopMode === loopModeEnum.All
            }"
        ></i>
        <span
            class="d-flex flex-row align-items-center app-playback-controls__loop-one"
            *ngIf="this.playbackService.loopMode === loopModeEnum.One"
        >
            <i class="app-playback-controls__icon app-playback-controls__accent las la-redo-alt"></i
            ><span class="app-playback-controls__icon-one">1</span></span
        >
    </div>

    <!-- Play previous -->
    <div
        class="app-playback-controls__button pointer mx-1"
        (click)="playbackService.playPreviousAsync()"
        matRipple
        matTooltip="{{ 'previous' | translate }}"
    >
        <i class="app-playback-controls__icon las la-step-backward"></i>
    </div>

    <!-- Play/Pause -->
    <div
        *ngIf="playbackService.canPause"
        class="app-playback-controls__circled-button pointer mx-1"
        (click)="playbackService.pause()"
        matRipple
        matTooltip="{{ 'pause' | translate }}"
    >
        <i class="app-playback-controls__icon las la-pause"></i>
    </div>
    <div
        *ngIf="playbackService.canResume"
        class="app-playback-controls__circled-button pointer mx-1"
        (click)="playbackService.resumeAsync()"
        matRipple
        matTooltip="{{ 'play' | translate }}"
    >
        <i class="app-playback-controls__icon las la-play"></i>
    </div>

    <!-- Play next -->
    <div
        class="app-playback-controls__button pointer mx-1"
        (click)="playbackService.playNextAsync()"
        matRipple
        matTooltip="{{ 'next' | translate }}"
    >
        <i class="app-playback-controls__icon las la-step-forward"></i>
    </div>

    <!-- Shuffle -->
    <div
        class="app-playback-controls__button pointer mx-1"
        (click)="playbackService.toggleIsShuffled()"
        matRipple
        matTooltip="{{ 'shuffle' | translate }}"
    >
        <i
            class="app-playback-controls__icon las la-random"
            [ngClass]="{ 'app-playback-controls__accent': this.playbackService.isShuffled }"
        ></i>
    </div>
</div>
