.app-playback-controls {
    display: flex;
    flex-direction: row;
    height: 36px;
}

.app-playback-controls__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: transparent;
}

.app-playback-controls__circled-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: transparent;
    border: 1px solid var(--theme-button-border);
}

.app-playback-controls__icon {
    font-size: 18px;
    color: var(--theme-primary-text);
    transition: all 0.25s ease 0s;
}

.app-playback-controls__accent {
    color: var(--theme-accent-color);
    transition: all 0.25s ease 0s;
}
