<div class="p-3">
    <h2>{{ 'Pages.ManageCollection.Download' | translate }}</h2>
    <div>
        <mat-slide-toggle [(ngModel)]="settings.downloadMissingAlbumCovers">
            {{ 'Pages.ManageCollection.DownloadMissingAlbumCovers' | translate }}</mat-slide-toggle>
    </div>
</div>
<mat-divider></mat-divider>
<div class="p-3">
    <h2>{{ 'Pages.ManageCollection.Refresh' | translate }}</h2>
    <div>{{ 'Pages.ManageCollection.RefreshAllCovers' | translate }}</div>
    <button class="mt-3" mat-raised-button color="primary" (click)="refreshAllCoversAsync()">
        {{ 'Buttons.RefreshAll' | translate }}
    </button>
    <div class="mt-3">{{ 'Pages.ManageCollection.RefreshMissingCovers' | translate }}</div>
    <button class="mt-3" mat-raised-button color="primary" (click)="refreshMissingAsync()">
        {{ 'Buttons.RefreshMissing' | translate }}
    </button>
</div>