@import "../custom-mat-themes.scss";

// Created with: http://mcg.mbitson.com/
$default-green-palette: (
  50: #e4f6ea,
  100: #bbeacb,
  200: #8edca9,
  300: #61cd87,
  400: #3fc36d,
  500: #1db853,
  600: #1ab14c,
  700: #15a842,
  800: #11a039,
  900: #0a9129,
  A100: #bfffcb,
  A200: #8cffa2,
  A400: #59ff78,
  A700: #40ff63,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$default-green-theme-primary: mat-palette($default-green-palette);
$default-green-theme-accent: mat-palette($default-green-palette);
$default-green-theme-warn: mat-palette($default-green-palette);

$default-green-theme-dark: custom-mat-dark-theme(
  $default-green-theme-primary,
  $default-green-theme-accent,
  $default-green-theme-warn
);
$default-green-theme-light: custom-mat-light-theme(
  $default-green-theme-primary,
  $default-green-theme-accent,
  $default-green-theme-warn
);
