// Created with: http://mcg.mbitson.com/
$material-deep-purple-palette: (
  50 : #EDE7F6,
  100 : #D1C4E9,
  200 : #B39DDB,
  300 : #9575CD,
  400 : #7E57C2,
  500 : #673AB7,
  600 : #5E35B1,
  700 : #512DA8,
  800 : #4527A0,
  900 : #311B92,
  A100 : #B388FF,
  A200 : #7C4DFF,
  A400 : #651FFF,
  A700 : #6200EA,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$material-deep-purple-theme-primary: mat-palette($material-deep-purple-palette);
$material-deep-purple-theme-accent: mat-palette($material-deep-purple-palette);
$material-deep-purple-theme-warn: mat-palette($material-deep-purple-palette);
$material-deep-purple-theme: mat-light-theme($material-deep-purple-theme-primary, $material-deep-purple-theme-accent, $material-deep-purple-theme-warn);