// Created with: http://mcg.mbitson.com/
$material-amber-palette: (
  50 : #FFF8E1,
  100 : #FFECB3,
  200 : #FFE082,
  300 : #FFD54F,
  400 : #FFCA28,
  500 : #FFC107,
  600 : #FFB300,
  700 : #FFA000,
  800 : #FF8F00,
  900 : #FF6F00,
  A100 : #FFE57F,
  A200 : #FFD740,
  A400 : #FFC400,
  A700 : #FFAB00,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$material-amber-theme-primary: mat-palette($material-amber-palette);
$material-amber-theme-accent: mat-palette($material-amber-palette);
$material-amber-theme-warn: mat-palette($material-amber-palette);
$material-amber-theme: mat-light-theme($material-amber-theme-primary, $material-amber-theme-accent, $material-amber-theme-warn);