.app-genre {
    display: flex;
    flex-direction: column;
}

.app-genre__header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, var(--theme-primary-color) 30%, var(--theme-secondary-color) 100%);
    color: var(--theme-highlight-foreground);
    width: 24px;
    height: 24px;
    border-radius: 12px 0px 12px 12px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-bottom: 2px; // HACK: this is a hack to make the text look centered
}

.app-genre__name {
    height: 30px;
    line-height: 30px;
    border-radius: 6px;
}

.app-genre__name:hover {
    background: var(--theme-hovered-item-background);
}
