<div class="app-collection-playback-pane theme-header-background">
    <div class="app-collection-playback-pane__progressbar">
        <app-playback-progress class="app-collection-playback-pane__progressbar"></app-playback-progress>
    </div>
    <div class="app-collection-playback-pane__controls">
        <div class="app-collection-playback-pane__playbackinformation"></div>
        <div class="app-collection-playback-pane__playbackcontrols">
            <app-playback-controls></app-playback-controls>
        </div>
        <div class="app-collection-playback-pane__volumecontrol"></div>
    </div>
</div>
