<div class="app-collection-playback-pane theme-header-background">
    <div class="app-collection-playback-pane__progressbar">
        <app-playback-progress class="app-collection-playback-pane__progressbar"></app-playback-progress>
    </div>
    <div class="app-collection-playback-pane__controls">
        <div class="app-collection-playback-pane-controls__left"><app-playback-information class="ml-3"></app-playback-information></div>
        <div class="app-collection-playback-pane-controls__center">
            <app-playback-controls></app-playback-controls>
        </div>
        <div class="app-collection-playback-pane-controls__right">
            <app-playback-time class="mr-4"></app-playback-time>
            <app-volume-control></app-volume-control>
        </div>
    </div>
</div>
