<app-dialog-header icon="las la-question" [title]="data?.dialogTitle"></app-dialog-header>
<mat-dialog-content>
    <mat-form-field>
        <input matInput [(ngModel)]="data.inputText" placeholder="{{ data?.placeHolderText }}" (keyup.enter)="closeDialog()" />
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <app-accent-button class="mr-2" [disabled]="!hasInputText" [mat-dialog-close]="true">{{ 'ok' | translate }}</app-accent-button>
    <app-accent-button [mat-dialog-close]="false">{{ 'cancel' | translate }}</app-accent-button>
</mat-dialog-actions>
