@import "font-faces";

.color-scheme-switcher-component {
  display: flex;
  flex-wrap: wrap;
}

.color-scheme-switcher-component-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.color-scheme-switcher-component-button__selector {
  font-size: 22px;
  color: white;
  z-index: 1;
}

.color-scheme-switcher-component-button__color {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  z-index: 0;
}
