<div class="color-scheme-switcher">
    <div *ngFor="let colorScheme of appearance.colorSchemes">
        <div class="color-scheme-switcher-button mr-1 mb-1" matTooltip="{{ colorScheme.name }}"
            (click)="setColorScheme(colorScheme)">
            <div class="color-scheme-switcher-button-selector custom-font"
                *ngIf="colorScheme.name === appearance.selectedColorScheme.name">
                &#xE8FB;
            </div>
            <div class="color-scheme-switcher-button-color"
                [ngStyle]="{'background': 'linear-gradient(45deg, ' + colorScheme.primaryColor + ' 30%, ' + colorScheme.secondaryColor + ' 100%)'}">
            </div>
        </div>
    </div>
</div>