.folder-browser {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.folder-browser__header {
    display: flex;
    flex-direction: row;
}

.folder-browser__title {
    flex: 1;
}

.folder-browser__menu {
    cursor: pointer;
    color: var(--theme-text-secondary-foreground);
}

.folder-browser__message {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.subfolder {
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.subfolder:hover {
    background: var(--theme-item-hovered-background);
}

.subfolder:active {
    background: var(--theme-item-hovered-background);
}

.subfolder__icon {
    font-size: 20px;
    color: var(--theme-accent-color);
    transform: rotate(-90deg);
}

.subfolder__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
}

.folder-browser__list {
    height: 100%;
    width: 100%;
    overflow-x: hidden !important;
    overflow-y: auto;
}

.tracks-browser {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tracks-browser__header {
    display: flex;
    flex-direction: row;
}

.tracks-browser__trackscount {
    color: var(--theme-accent-color);
}

.tracks-browser__breadcrumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tracks-browser__breadcrumb {
    background-color: var(--theme-breadcrumb-background) !important;
    border-radius: 4px !important;
    min-height: 26px !important;
    padding: 2px 8px !important;
    font-size: var(--font-size-normal) !important;
    white-space: nowrap;
    overflow: hidden;
}

.tracks-browser__tracks {
    flex: 1;
}

.tracks-browser__track {
    flex: 1;
}
