<div class="collection-splitter">
    <as-split gutterSize="4" unit="percent" direction="horizontal" (dragEnd)="dragEnd($event)" #split="asSplit">
        <as-split-area [size]="area1Size" minSize="5" maxSize="95" #area1="asSplitArea">
            <div class="side-pane p-2">
                <div class="folder-browser">
                    <!-- Folders in collection -->
                    <div *ngIf="folders.length > 0" class="folder-browser-header m-1">
                        <div class="folder-browser-header-title"> {{ 'Pages.Collection.Folder' | translate }}</div>
                        <div mat-icon-button [matMenuTriggerFor]="menu"
                            matTooltip="{{ 'Tooltips.ChooseFolder' | translate }}" (click)="getFoldersAsync()">
                            <div class="folder-browser-header-menu">
                                {{ selectedFolder | folderName }}<i class="ml-1 las la-angle-down"></i>
                            </div>
                        </div>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item *ngFor="let folder of folders" (click)="setSelectedFolderAsync(folder)">
                                {{ folder | folderName }}
                            </button>
                        </mat-menu>
                    </div>
                    <ul class="mt-3">
                        <li *ngFor="let subfolder of subfolders" matRipple
                            [ngClass]="{'selected-item': subfolder === selectedSubfolder }"
                            (click)="setSelectedSubfolder(subfolder)">
                            <div class="subfolder-item no-select">
                                <i class="subfolder-item-icon mr-2 lar la-folder"></i>
                                <div class="subfolder-item-name" matTooltip="{{ subfolder.path }}">{{ subfolder | subfolderName }}</div>
                            </div>
                        </li>
                    </ul>
                    <!-- No folders in collection -->
                    <div class="no-folders-message" *ngIf="folders.length === 0">
                        {{ 'Pages.Collection.NoFoldersInCollection' | translate }}
                        <button class="mt-3" mat-raised-button color="primary" (click)="goToManageCollection()">
                            {{ 'Pages.Collection.AddFolder' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </as-split-area>
        <as-split-area [size]="area2Size" minSize="5" maxSize="95" #area2="asSplitArea">

        </as-split-area>
    </as-split>
</div>