<div class="collection-viewport">
    <as-split gutterSize="4" unit="percent" direction="horizontal" (dragEnd)="dragEnd($event)" #split="asSplit">
        <as-split-area [size]="area1Size" minSize="5" maxSize="95" #area1="asSplitArea">
            <div class="side-pane">
                <div class="folder-browser p-3">
                    <!-- Folders in collection -->
                    <div *ngIf="folders.length > 0" class="folder-browser__header m-1">
                        <div class="folder-browser__title">{{ 'Pages.Collection.Folder' | translate }}</div>
                        <div
                            mat-icon-button
                            [matMenuTriggerFor]="menu"
                            matTooltip="{{ 'Tooltips.ChooseFolder' | translate }}"
                            (click)="getFoldersAsync()"
                        >
                            <div class="folder-browser__menu">{{ selectedFolder | folderName }}<i class="ml-1 las la-angle-down"></i></div>
                        </div>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item *ngFor="let folder of folders" (click)="setSelectedFolderAsync(folder)">
                                {{ folder | folderName }}
                            </button>
                        </mat-menu>
                    </div>
                    <cdk-virtual-scroll-viewport *ngIf="folders.length > 0" class="mt-3 folder-browser__list" itemSize="28">
                        <div
                            *cdkVirtualFor="let subfolder of subfolders"
                            matRipple
                            (click)="setSelectedSubfolder(subfolder)"
                            (dblclick)="getSubfoldersAsync(subfolder)"
                        >
                            <div class="subfolder no-select p-1" [ngClass]="{ 'selected-item': subfolder === selectedSubfolder }">
                                <i class="subfolder__icon mr-2 lar la-folder"></i>
                                <div class="subfolder__name ellipsis" matTooltip="{{ subfolder.path }}">
                                    {{ subfolder | subfolderName }}
                                </div>
                            </div>
                        </div>
                    </cdk-virtual-scroll-viewport>
                    <!-- No folders in collection -->
                    <div class="folder-browser__message" *ngIf="folders.length === 0">
                        {{ 'Pages.Collection.NoFoldersInCollection' | translate }}
                        <button class="mt-3" mat-raised-button color="primary" (click)="goToManageCollection()">
                            {{ 'Pages.Collection.AddFolder' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </as-split-area>
        <as-split-area [size]="area2Size" minSize="5" maxSize="95" #area2="asSplitArea">
            <div class="tracks-browser p-3">
                <div class="tracks-browser__header m-1">
                    <div class="tracks-browser__trackscount mr-2">{{ this.tracks.numberOfTracks }}</div>
                    <div *ngIf="this.tracks.numberOfTracks === 1">{{ 'Pages.Collection.Track' | translate }}</div>
                    <div *ngIf="this.tracks.numberOfTracks !== 1">{{ 'Pages.Collection.Tracks' | translate }}</div>
                </div>
                <mat-chip-list class="tracks-browser__breadcrumbs mt-3">
                    <mat-chip
                        class="tracks-browser__breadcrumb no-select"
                        *ngFor="let subfolderBreadCrumb of subfolderBreadCrumbs"
                        (click)="getSubfoldersAsync(subfolderBreadCrumb)"
                    >
                        {{ subfolderBreadCrumb | subfolderName }}
                    </mat-chip>
                </mat-chip-list>
                <cdk-virtual-scroll-viewport class="tracks-browser__tracks mt-3" itemSize="46">
                    <div
                        *cdkVirtualFor="let track of tracks.tracks"
                        matRipple
                        (click)="setSelectedTrack(track)"
                        [ngClass]="{ 'selected-item': track === selectedTrack }"
                    >
                        <app-track [track]="track"></app-track>
                    </div>
                </cdk-virtual-scroll-viewport>
                <app-totals
                    class="mt-3"
                    [totalDurationInMilliseconds]="this.tracks.totalDurationInMilliseconds"
                    [totalFileSizeInBytes]="this.tracks.totalFileSizeInBytes"
                ></app-totals>
            </div>
        </as-split-area>
    </as-split>
</div>
