<div class="add-folder-component" [ngClass]="{ inactive: indexingService.isIndexingCollection }">
    <div>
        <a (click)="addFolderAsync()"><i class="las la-plus mr-1"></i> {{ 'add-folder' | translate }}</a>
    </div>
    <mat-checkbox class="ml-1 mt-3" [(ngModel)]="showAllFoldersInCollection" *ngIf="showCheckBoxes">
        {{ 'show-all-folders-in-the-collection' | translate }}</mat-checkbox
    >
    <ul class="mt-3">
        <li
            *ngFor="let folder of folders"
            matRipple
            [ngClass]="{ 'selected-item-background-important': folder === selectedFolder }"
            (mousedown)="setSelectedFolder(folder)"
        >
            <div class="folder no-select">
                <mat-checkbox
                    class="folder__checkbox mr-2"
                    [(ngModel)]="folder.showInCollection"
                    *ngIf="showCheckBoxes"
                    matTooltip="{{ 'show-in-the-collection' | translate }}"
                    (ngModelChange)="setFolderVisibility(folder)"
                ></mat-checkbox>
                <i class="folder__icon mr-2 lar la-folder"></i>
                <div class="folder__path ellipsis" matTooltip="{{ folder.path }}">{{ folder.path }}</div>
                <i
                    class="folder__action ml-2 las la-times"
                    [ngStyle]="{ display: folder === selectedFolder ? 'block' : 'none' }"
                    matTooltip="{{ 'delete-folder' | translate }}"
                    (click)="deleteFolderAsync(folder)"
                ></i>
            </div>
        </li>
    </ul>
</div>
