.add-folder {
    display: flex;
    flex-direction: column;
}

.folder-item {
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.folder-item:hover {
    background: var(--theme-item-hovered-background);
}

.folder-item-icon {
    font-size: var(--fontsize-large);
    color: var(--theme-accent-color);
}

.folder-item-path {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
}

.folder-item-action {
    font-size: var(--fontsize-large);
    opacity: 0.4;
    cursor: pointer;
    display: none;
}

.folder-item:hover .folder-item-action {
    background: var(--theme-item-hovered-background);
    display: block !important;
}