<div class="d-flex flex-column p-4">
    <div class="title">{{ 'welcome-screen' | translate }}</div>
    <div>
        <mat-slide-toggle [(ngModel)]="settings.showWelcome"> {{ 'show-welcome-screen-on-next-restart' | translate }}</mat-slide-toggle>
    </div>
    <div class="mt-4">
        <app-accent-button (click)="this.showWelcomeScreenAsync()">
            {{ 'show-welcome-screen-now' | translate }}
        </app-accent-button>
    </div>
</div>
<mat-divider></mat-divider>
<div class="d-flex flex-column p-4">
    <div class="title">{{ 'log-file' | translate }}</div>
    <div>{{ 'something-wrong-look-in-log-file' | translate }}</div>
    <div class="mt-4">
        <app-accent-button (click)="this.viewLog()">
            {{ 'view-log' | translate }}
        </app-accent-button>
    </div>
</div>
