<div class="d-flex flex-column p-4">
    <h2>{{ 'welcome-screen' | translate }}</h2>
    <div>
        <mat-slide-toggle [(ngModel)]="settings.showWelcome"> {{ 'show-welcome-screen-on-next-restart' | translate }}</mat-slide-toggle>
    </div>
    <div class="mt-4">
        <button mat-raised-button color="primary" (click)="this.showWelcomeScreenAsync()">
            {{ 'show-welcome-screen-now' | translate | uppercase }}
        </button>
    </div>
</div>
<mat-divider></mat-divider>
<div class="d-flex flex-column p-4">
    <h2>{{ 'log-file' | translate }}</h2>
    <div>{{ 'something-wrong-look-in-log-file' | translate }}</div>
    <div class="mt-4">
        <button mat-raised-button color="primary" (click)="this.viewLog()">
            {{ 'view-log' | translate | uppercase }}
        </button>
    </div>
</div>
