.notification-bar__background {
    background: linear-gradient(45deg, var(--theme-primary-color) 30%, var(--theme-secondary-color) 100%);
}

.notification-bar__icon {
    color: var(--theme-highlight-foreground);
    font-size: 18px;
}

.notification-bar__text {
    color: var(--theme-highlight-foreground);
}

.notification-bar__closebutton {
    color: var(--theme-highlight-foreground);
    font-size: 18px;
    cursor: pointer;
}
