<div class="p-4">
    <h2>{{ 'updates' | translate }}</h2>
    <div>
        <mat-slide-toggle [(ngModel)]="settings.checkForUpdates"> {{ 'check-for-updates' | translate }}</mat-slide-toggle>
    </div>
    <div>
        <mat-slide-toggle class="mt-3" [(ngModel)]="settings.checkForUpdatesIncludesPreReleases">
            {{ 'also-check-for-pre-releases' | translate }}</mat-slide-toggle
        >
    </div>
</div>
<mat-divider></mat-divider>
<div class="p-4">
    <h2>{{ 'welcome-screen' | translate }}</h2>
    <mat-slide-toggle [(ngModel)]="settings.showWelcome"> {{ 'show-welcome-screen' | translate }}</mat-slide-toggle>
</div>
