@import 'css/font-faces.scss';
@import 'css/theming.scss';
@import 'css/variables.scss';

.window-controls {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.window-controls .close-button:hover {
    @extend .background-color-primary;
    color: #FFF;
}