@import 'theming';

.window-controls {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.window-controls .close-button:hover {
    background-color: var(--accent-color);
    fill: #FFF;
}