<div class="window-controls">
  <div class="window-button min-button" (click)="minButtonClick()">
    <span class="custom-font">&#xE921;</span>
  </div>
  <div class="window-button max-button" (click)="maxRestoreClick()" *ngIf="canMaximize">
    <span class="custom-font">&#xE922;</span>
  </div>
  <div class="window-button restore-button" (click)="maxRestoreClick()" *ngIf="!canMaximize">
    <span class="custom-font">&#xE923;</span>
  </div>
  <div class="window-button close-button" (click)="closeButtonClick()">
    <span class="custom-font">&#xE8BB;</span>
  </div>
</div>