<app-dialog-header icon="las la-exclamation" title="{{ 'error' | translate }}"></app-dialog-header>
<mat-dialog-content>
    <p *ngIf="!data?.isGlobalError">{{ data?.errorText }}</p>
    <p *ngIf="data?.isGlobalError">{{ 'global-error' | translate }}</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]>{{ 'ok' | translate | uppercase }}</button>
    <button mat-raised-button [mat-dialog-close] (click)="viewLog()">{{ 'view-log' | translate | uppercase }}</button>
</mat-dialog-actions>
