.app-album {
    width: 120px;
    // height: 164px;
    display: flex;
    flex-direction: column;
}

.app-album__year {
    font-weight: lighter !important;
    height: 30px;
    color: var(--theme-accent-color);
    font-size: var(--fontsize-extra-large);
}

.app-album__cover {
    width: 120px;
    height: 120px;
    background: var(--theme-album-cover-background);
    display: grid;
    grid-template-columns: 1fr;
}

.app-album__cover div {
    grid-row-start: 1;
    grid-column-start: 1;
}

.app-album__cover__placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-album__cover__placeholder svg {
    width: 60%;
    height: 60%;
}

.app-album__cover__placeholder path {
    fill: var(--theme-album-cover-logo);
}

.app-album__information {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 44px;
    background-color: var(--theme-album-info-background);
}

.app-album__information__line1 {
    height: 21px;
    line-height: 21px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
}

.app-album__information__line2 {
    height: 21px;
    line-height: 21px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
    color: var(--theme-secondary-text);
}

.app-album__information__selector {
    height: 2px;
    background-color: transparent;
}
