.app-playlist {
    width: 124px;
}

.app-playlist-border {
    width: 124px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.app-playlist-border:hover {
    background: var(--theme-hovered-item-background);
}

.app-playlist-content {
    width: 120px;
    display: flex;
    flex-direction: column;
}

.app-playlist__cover {
    width: 120px;
    height: 120px;
    background: var(--theme-album-cover-background);
    display: grid;
    grid-template-columns: 1fr;
}

.app-playlist__cover div {
    grid-row-start: 1;
    grid-column-start: 1;
}

.app-playlist__cover__placeholder {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-playlist__cover__placeholder svg {
    width: 60%;
    height: 60%;
}

.app-playlist__cover__placeholder path {
    fill: var(--theme-album-cover-logo);
}

.app-playlist__information {
    width: 120px;
    height: 24px;
    line-height: 22px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
    padding-top: 2px;
    text-align: var(--theme-album-info-text-align);
}
