.fit-width {
    max-width: min(100%, 300px);
}

.fit-width * {
    width: inherit;
    max-width: inherit;
}

.subfolder {
    height: 30px;
}

.subfolder:hover {
    background: var(--theme-hovered-item-background);
}

.subfolder:active {
    background: var(--theme-hovered-item-background);
}

.folder-browser__list {
    height: 100%;
    width: 100%;
    overflow-x: hidden !important;
    overflow-y: auto;
}
