.subfolder {
    height: 30px;
}

.subfolder:hover {
    background: var(--theme-hovered-item-background);
}

.subfolder:active {
    background: var(--theme-hovered-item-background);
}

.folder-browser__list {
    height: 100%;
    width: 100%;
    overflow-x: hidden !important;
    overflow-y: auto;
}
