<div class="h-100 w-100 d-flex flex-column">
    <div class="h-24px align-items-center justify-content-between d-flex flex-row m-1 no-select">
        <div class="d-flex flex-row align-items-center">
            <div class="mr-2 accent-color">{{ this.artists.length }}</div>
            <div class="pointer" *ngIf="this.selectedArtistType === artistTypeEnum.trackArtists" (click)="this.toggleArtistType()">
                {{ 'track-artists' | translate }}
            </div>
            <div class="pointer" *ngIf="this.selectedArtistType === artistTypeEnum.albumArtists" (click)="this.toggleArtistType()">
                {{ 'album-artists' | translate }}
            </div>
            <div class="pointer" *ngIf="this.selectedArtistType === artistTypeEnum.allArtists" (click)="this.toggleArtistType()">
                {{ 'all-artists' | translate }}
            </div>
        </div>
        <div class="pointer" (click)="toggleArtistOrder()">
            <div class="secondary-text" *ngIf="this.selectedArtistOrder === artistOrderEnum.byArtistAscending">
                {{ 'by-artist-ascending' | translate }}
            </div>
            <div class="secondary-text" *ngIf="this.selectedArtistOrder === artistOrderEnum.byArtistDescending">
                {{ 'by-artist-descending' | translate }}
            </div>
        </div>
    </div>
    <app-semantic-zoom *ngIf="this.shouldZoomOut" class="mt-3" [SemanticZoomables]="this.orderedArtists"></app-semantic-zoom>
    <cdk-virtual-scroll-viewport *ngIf="!this.shouldZoomOut" class="flex-grow mt-3" itemSize="30">
        <div *cdkVirtualFor="let artist of this.orderedArtists" (mousedown)="setSelectedArtists($event, artist)">
            <app-artist
                [artist]="artist"
                (dblclick)="this.playbackService.enqueueAndPlayArtist(artist, this.selectedArtistType)"
                (contextmenu)="onArtistContextMenuAsync($event, artist)"
            ></app-artist>
        </div>
    </cdk-virtual-scroll-viewport>
</div>
<div
    #artistContextMenuAnchor
    style="visibility: hidden; position: fixed"
    [style.left]="contextMenuOpener.positionX"
    [style.top]="contextMenuOpener.positionY"
    [matMenuTriggerFor]="artistContextMenu"
></div>

<mat-menu #artistContextMenu="matMenu">
    <ng-template matMenuContent let-artist="data">
        <button mat-menu-item [matMenuTriggerFor]="addToPlaylistContextMenu">
            <span>{{ 'add-to-playlist' | translate }}</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onAddToQueueAsync(artist)">
            <span>{{ 'add-to-playback-queue' | translate }}</span>
        </button>
    </ng-template>
</mat-menu>

<mat-menu #addToPlaylistContextMenu="matMenu">
    <div *ngIf="!this.addToPlaylistMenu.hasPlaylists" mat-menu-item class="inactive">{{ 'no-playlists' | translate }}</div>
    <div *ngIf="this.addToPlaylistMenu.hasPlaylists">
        <ng-container *ngFor="let playlist of this.addToPlaylistMenu.playlists | keyvalue">
            <button mat-menu-item [matMenuTriggerFor]="playlistsMenu">
                <span>{{ playlist.key }}</span>
            </button>
            <mat-menu #playlistsMenu="matMenu">
                <button
                    *ngFor="let playlist of this.addToPlaylistMenu.playlists[playlist.key] | keyvalue"
                    mat-menu-item
                    (click)="
                        this.addToPlaylistMenu.addArtistsToPlaylistAsync(
                            playlist.value.path,
                            playlist.value.name,
                            this.mouseSelectionWatcher.selectedItems
                        )
                    "
                >
                    <span>{{ playlist.value.name }}</span>
                </button>
            </mat-menu>
        </ng-container>
    </div>
</mat-menu>
