.app-artist-browser {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.app-artist-browser__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.app-artist-browser__artistscount {
    display: flex;
    flex-direction: row;
}

.app-artist-browser__artistscount__number {
    color: var(--theme-accent-color);
}

.app-artist-browser__artists {
    flex: 1;
}
