.app-playlist-browser {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.app-playlist-browser__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.app-playlist-browser__playlistscount {
    display: flex;
    flex-direction: row;
}

.app-playlist-browser__playlistscount__number {
    color: var(--theme-accent-color);
}

.app-playlist-browser__playlists {
    flex: 1;
}

.playlist-row {
    display: flex;
    flex-direction: row;
}
