<div class="app-playlist-browser" #playlistBrowserElement>
    <div class="app-playlist-browser__header m-1 no-select">
        <div class="app-playlist-browser__playlistscount">
            <div class="app-playlist-browser__playlistscount__number mr-2">{{ this.playlists.length }}</div>
            <div *ngIf="this.playlists.length === 1">{{ 'playlist' | translate }}</div>
            <div *ngIf="this.playlists.length !== 1">{{ 'playlists' | translate }}</div>
        </div>
        <div class="d-flex flex-row align-items-center">
            <div
                *ngIf="this.playlistService.hasActivePlaylistFolder"
                class="app-playlist-browser__add-button pointer secondary-text las la-plus mr-4"
                matTooltip="{{ 'create-playlist' | translate }}"
                (click)="createPlaylistAsync()"
            ></div>
            <div class="pointer" (click)="this.togglePlaylistOrder()">
                <div class="secondary-text" *ngIf="this.selectedPlaylistOrder === playlistOrderEnum.byPlaylistNameAscending">
                    {{ 'by-playlist-name-ascending' | translate }}
                </div>
                <div class="secondary-text" *ngIf="this.selectedPlaylistOrder === playlistOrderEnum.byPlaylistNameDescending">
                    {{ 'by-playlist-name-descending' | translate }}
                </div>
            </div>
        </div>
    </div>
    <cdk-virtual-scroll-viewport class="app-playlist-browser__playlists mt-3" itemSize="0">
        <div *cdkVirtualFor="let playlistRow of this.playlistRows">
            <div class="playlist-row">
                <app-playlist
                    class="m-2"
                    *ngFor="let playlist of playlistRow.playlists"
                    [playlist]="playlist"
                    [isSelected]="playlist.isSelected"
                    (mousedown)="setSelectedPlaylists($event, playlist)"
                    (dblclick)="this.playbackService.enqueueAndPlayPlaylistAsync(playlist)"
                    (contextmenu)="onPlaylistContextMenu($event, playlist)"
                ></app-playlist>
            </div>
        </div>
    </cdk-virtual-scroll-viewport>
</div>
<div
    #playlistContextMenuAnchor
    style="visibility: hidden; position: fixed"
    [style.left]="contextMenuOpener.positionX"
    [style.top]="contextMenuOpener.positionY"
    [matMenuTriggerFor]="playlistContextMenu"
></div>
<mat-menu #playlistContextMenu="matMenu">
    <ng-template matMenuContent let-playlist="data">
        <button mat-menu-item (click)="onEditPlaylistAsync(playlist)">{{ 'edit' | translate }}</button>
        <button mat-menu-item (click)="onDeletePlaylistAsync(playlist)">{{ 'delete' | translate }}</button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onAddToQueueAsync(playlist)">
            <span>{{ 'add-to-playback-queue' | translate }}</span>
        </button>
    </ng-template>
</mat-menu>
