<div class="h-100 w-100 d-flex flex-column" #playlistBrowserElement>
    <div class="h-24px align-items-center justify-content-between d-flex flex-row m-1 no-select">
        <div class="d-flex flex-row align-items-center">
            <div class="mr-2 accent-color">{{ this.playlists.length }}</div>
            <div *ngIf="this.playlists.length === 1">{{ 'playlist' | translate }}</div>
            <div *ngIf="this.playlists.length !== 1">{{ 'playlists' | translate }}</div>
        </div>
        <div class="d-flex flex-row align-items-center">
            <div
                *ngIf="this.playlistService.hasActivePlaylistFolder"
                class="w-24px h-24px radius-12px d-flex align-items-center justify-content-center pointer mr-4"
                [ngClass]="{ 'pulsating-bg': !this.hasPlaylists }"
                matTooltip="{{ 'create-playlist' | translate }}"
                (click)="createPlaylistAsync()"
            >
                <div
                    class="font-20px secondary-text las la-plus"
                    style="margin-top: 1px"
                    [ngClass]="{ 'primary-text-important': !this.hasPlaylists }"
                ></div>
            </div>
            <div class="pointer" (click)="this.togglePlaylistOrder()">
                <div class="secondary-text" *ngIf="this.selectedPlaylistOrder === playlistOrderEnum.byPlaylistNameAscending">
                    {{ 'by-playlist-name-ascending' | translate }}
                </div>
                <div class="secondary-text" *ngIf="this.selectedPlaylistOrder === playlistOrderEnum.byPlaylistNameDescending">
                    {{ 'by-playlist-name-descending' | translate }}
                </div>
            </div>
        </div>
    </div>
    <div
        class="d-flex flex-grow align-items-center justify-content-center no-select secondary-text font-size-medium"
        *ngIf="!this.hasPlaylists"
    >
        {{ 'playlist-folder-is-empty' | translate }}
    </div>
    <cdk-virtual-scroll-viewport class="mt-3 flex-grow" itemSize="0" *ngIf="this.hasPlaylists">
        <div *cdkVirtualFor="let playlistRow of this.playlistRows">
            <div class="d-flex flex-row">
                <app-playlist
                    class="m-2"
                    *ngFor="let playlist of playlistRow.playlists"
                    [playlist]="playlist"
                    [isSelected]="playlist.isSelected"
                    (mousedown)="setSelectedPlaylists($event, playlist)"
                    (dblclick)="this.playbackService.enqueueAndPlayPlaylistAsync(playlist)"
                    (contextmenu)="onPlaylistContextMenu($event, playlist)"
                ></app-playlist>
            </div>
        </div>
    </cdk-virtual-scroll-viewport>
</div>
<div
    #playlistContextMenuAnchor
    style="visibility: hidden; position: fixed"
    [style.left]="contextMenuOpener.positionX"
    [style.top]="contextMenuOpener.positionY"
    [matMenuTriggerFor]="playlistContextMenu"
></div>
<mat-menu #playlistContextMenu="matMenu">
    <ng-template matMenuContent let-playlist="data">
        <button mat-menu-item (click)="onEditPlaylistAsync(playlist)">{{ 'edit' | translate }}</button>
        <button mat-menu-item (click)="onDeletePlaylistAsync(playlist)">{{ 'delete' | translate }}</button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onAddToQueueAsync(playlist)">
            <span>{{ 'add-to-playback-queue' | translate }}</span>
        </button>
    </ng-template>
</mat-menu>
