<div class="app-genre no-select">
    <div class="app-genre__header mx-1" *ngIf="genre.showHeader">{{ genre.header }}</div>
    <div
        *ngIf="!genre.showHeader"
        class="app-genre__name ellipsis px-1"
        [ngClass]="{
            'selected-item-background': genre.isSelected,
            'selected-item-text-color-important': genre.isSelected && this.appearanceService.shouldOverrideSelectedItemText
        }"
        matRipple
        [matRippleTrigger]="trigger"
        #trigger
    >
        {{ genre.displayName }}
    </div>
</div>
