.app-search-box {
    position: relative;
    background-color: var(--theme-search-box);
    display: flex;
    flex-direction: row;
    width: 170px;
    height: 30px;
    border-radius: 15px;
    padding: 0 8px;
}

.app-search-box-highlight {
    border: 1px solid var(--theme-accent-color);
    box-shadow: 0 0 5px var(--theme-accent-color);
}

.app-search-box__input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    color: var(--theme-search-box-text);
}

.app-search-box__icons {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-search-box-icon {
    font-size: 18px;
    color: var(--theme-search-box-icon);
}
