<div class="p-4">
    <div class="title">{{ 'components' | translate }}</div>
    <div class="mb-3" *ngFor="let externalComponent of externalComponents">
        <strong>{{ externalComponent.name }}</strong
        ><br />
        {{ externalComponent.description }}<br />
        <a href="{{ externalComponent.url }}">{{ 'website' | translate }}</a>
        <a
            *ngIf="externalComponent.licenseUrl != undefined && externalComponent.licenseUrl != ''"
            class="ml-2"
            href="{{ externalComponent.licenseUrl }}"
            >{{ 'license' | translate }}</a
        >
    </div>
</div>
