.filter-field,
.filter-operator,
.filter-value {
    flex: 1;
}

.remove-filter-button {
    margin-bottom: 1.25em;
}

.filter-rating {
    margin-bottom: 1.25em;
}

.limit-toggle {
    margin-bottom: 1.25em;
}

.limit-value {
    width: 80px;
}

.limit-unit {
    width: 120px;
}
