<app-dialog-header icon="las la-pen" title="{{ this.dialogTitle }}"></app-dialog-header>
<mat-dialog-content class="overflow-hidden-important">
    <div class="p-1">
        <div class="d-flex flex-row align-items-center" *ngFor="let filter of filters; let i = index">
            <mat-form-field class="filter-field mr-2">
                <mat-select
                    [(ngModel)]="filter.field"
                    [compareWith]="compareFields"
                    placeholder="Field"
                    (selectionChange)="onFieldChanged(filter)"
                >
                    <mat-option *ngFor="let field of fields" [value]="field">{{ field.translationKey | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="filter-operator mr-2">
                <mat-select
                    [(ngModel)]="filter.operator"
                    [compareWith]="compareOperators"
                    placeholder="Operator"
                    [disabled]="!filter.field"
                >
                    <mat-option *ngFor="let operator of getOperatorsForFilter(filter)" [value]="operator">{{
                        operator.translationKey | translate
                    }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field
                class="filter-value mr-2"
                *ngIf="filter.field?.name !== 'rating' && filter.field?.name !== 'love' && filter.field?.type !== 'boolean'"
            >
                <input [(ngModel)]="filter.value" matInput placeholder="{{ 'value' | translate }}" />
            </mat-form-field>
            <mat-form-field class="filter-value mr-2" *ngIf="filter.field?.type === 'boolean' && filter.field?.name !== 'love'">
                <mat-select [(ngModel)]="filter.value" placeholder="{{ 'value' | translate }}"> </mat-select>
            </mat-form-field>
            <div
                class="filter-value filter-rating mr-2 d-flex flex-row align-items-center justify-content-center"
                *ngIf="filter.field?.name === 'rating'"
            >
                <div
                    class="pointer"
                    *ngFor="let star of stars"
                    [ngClass]="getRatingStarClass(filter, star)"
                    (click)="onRatingStarClick(filter, star)"
                ></div>
            </div>
            <div
                class="filter-value filter-rating mr-2 d-flex flex-row align-items-center justify-content-center"
                *ngIf="filter.field?.name === 'love'"
            >
                <div class="pointer" [ngClass]="getLoveClass(filter)" (click)="toggleLove(filter)"></div>
            </div>
            <app-icon-button
                class="remove-filter-button ml-2"
                [ngClass]="{ inactive: filters.length <= 1 }"
                icon="las la-times"
                matTooltip="{{ 'remove' | translate }}"
                (click)="removeFilter(i)"
            ></app-icon-button>
        </div>
        <div class="filter-row d-flex flex-row align-items-center">
            <div class="filter-field mr-2"></div>
            <div class="filter-operator mr-2"></div>
            <div class="filter-value mr-2"></div>
            <app-icon-button icon="las la-plus" matTooltip="{{ 'add-filter' | translate }}" (click)="addFilter()"></app-icon-button>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <app-accent-button class="mr-2" [ngClass]="{ inactive: !this.hasPlaylistName }" [mat-dialog-close]="true">{{
        'ok' | translate
    }}</app-accent-button>
    <app-transparent-button [mat-dialog-close]="false">{{ 'cancel' | translate }}</app-transparent-button>
</mat-dialog-actions>
