<div>
    <div
        class="app-now-playing__backgroundimage"
        [ngStyle]="{ 'background-image': 'url(' + background1 + ')' }"
        [@background1Animation]="background1Animation"
    ></div>
    <div
        class="app-now-playing__backgroundimage"
        [ngStyle]="{ 'background-image': 'url(' + background2 + ')' }"
        [@background2Animation]="background2Animation"
    ></div>
    <div class="window-frame">
        <div class="window-frame__titlebar">
            <div class="window-button back-button" (click)="this.goBackToCollectionAsync()" [@controlsVisibility]="controlsVisibility">
                <i class="back-button__icon las la-arrow-left"></i>
            </div>
            <div class="window-frame__dragarea"></div>
            <app-window-controls
                *ngIf="!appearanceService.windowHasNativeTitleBar"
                [@controlsVisibility]="controlsVisibility"
            ></app-window-controls>
        </div>
        <div class="window-frame__content">
            <div class="app-now-playing">
                <app-metro-page-container class="app-now-playing__content">
                    <!-- Nothing playing -->
                    <app-metro-page [page]="nowPlayingPageEnum.nothingPlaying" [selectedPage]="this.page">
                        <app-now-playing-nothing-playing class="collection-viewport"></app-now-playing-nothing-playing>
                    </app-metro-page>
                    <!-- Showcase -->
                    <app-metro-page [page]="nowPlayingPageEnum.showcase" [selectedPage]="this.page">
                        <app-now-playing-showcase class="collection-viewport"></app-now-playing-showcase>
                    </app-metro-page>
                    <!-- Lyrics -->
                    <app-metro-page [page]="nowPlayingPageEnum.lyrics" [selectedPage]="this.page">
                        <app-now-playing-lyrics class="collection-viewport"></app-now-playing-lyrics>
                    </app-metro-page>
                    <!-- Artist info -->
                    <app-metro-page [page]="nowPlayingPageEnum.artistInformation" [selectedPage]="this.page">
                        <app-now-playing-artist-info class="collection-viewport"></app-now-playing-artist-info>
                    </app-metro-page>
                </app-metro-page-container>
                <div class="app-now-playing-playback-controls__container">
                    <div
                        class="app-now-playing-playback-controls__background theme-footer-background"
                        [@controlsVisibility]="controlsVisibility"
                    ></div>
                    <canvas id="nowPlayingAudioVisualizer" class="app-now-playing-playback-controls__audio-visualizer"></canvas>
                    <app-now-playing-playback-pane
                        class="app-now-playing-playback-controls__playback-pane"
                        [@controlsVisibility]="controlsVisibility"
                    ></app-now-playing-playback-pane>
                </div>
            </div>
        </div>
    </div>
</div>
