@import 'variables';

.app-now-playing {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.app-now-playing__backgroundimage {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    height: 100%;
    filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.app-now-playing__content {
    background: transparent !important;
    flex: 1;
    width: 100vw;
    height: 100vh;
    padding-bottom: 37px;
}

.app-now-playing-playback-controls__container {
    position: relative;
}

.app-now-playing-playback-controls__background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    z-index: 0;
}

.app-now-playing-playback-controls__audio-visualizer {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 0;
    height: 30px;
    width: 300px;
    transform: translateX(-50%);
}

.app-now-playing-playback-controls__playback-pane {
    position: absolute;
    bottom: 0;
    z-index: 2;
}
