<div class="p-4">
    <div class="title">{{ 'notification-area' | translate }}</div>
    <div>
        <app-toggle-switch [(isChecked)]="this.settings.showIconInNotificationArea">
            {{ 'show-icon-in-notification-area' | translate }}</app-toggle-switch
        >
    </div>
    <div>
        <app-toggle-switch class="mt-3" [(isChecked)]="this.settings.minimizeToNotificationArea">
            {{ 'minimize-to-notification-area' | translate }}</app-toggle-switch
        >
    </div>
    <div>
        <app-toggle-switch class="mt-3" [(isChecked)]="this.settings.closeToNotificationArea">
            {{ 'close-to-notification-area' | translate }}</app-toggle-switch
        >
    </div>
    <div *ngIf="this.trayService.needInvertNotificationAreaIconColor">
        <app-toggle-switch class="mt-3" [(isChecked)]="this.trayService.invertNotificationAreaIconColor">
            {{ 'invert-notification-area-icon-color' | translate }}</app-toggle-switch
        >
    </div>
    <mat-divider class="my-4"></mat-divider>
    <div class="title">{{ 'follow-song' | translate }}</div>
    <div>
        <app-toggle-switch class="mt-3" [(isChecked)]="this.settings.jumpToPlayingSong">
            {{ 'jump-to-playing-song' | translate }}</app-toggle-switch
        >
    </div>
    <mat-divider class="my-4"></mat-divider>
    <div class="title">{{ 'rating' | translate }}</div>
    <div>
        <app-toggle-switch [(isChecked)]="this.settings.showRating"> {{ 'show-rating' | translate }}</app-toggle-switch>
    </div>
    <div>
        <app-toggle-switch class="mt-3" [(isChecked)]="this.settings.saveRatingToAudioFiles">
            {{ 'save-rating-to-audio-files' | translate }}</app-toggle-switch
        >
    </div>
    <mat-divider class="my-4"></mat-divider>
    <div class="title">{{ 'love' | translate }}</div>
    <div>
        <app-toggle-switch [(isChecked)]="this.settings.showLove"> {{ 'show-love' | translate }}</app-toggle-switch>
    </div>
    <mat-divider class="my-4"></mat-divider>
    <div class="title">{{ 'now-playing' | translate }}</div>
    <div>
        <app-toggle-switch [(isChecked)]="this.settings.keepPlaybackControlsVisibleOnNowPlayingPage">
            {{ 'keep-playback-controls-visible-on-now-playing-page' | translate }}</app-toggle-switch
        >
    </div>
    <mat-divider class="my-4"></mat-divider>
    <div class="title">{{ 'playback-state' | translate }}</div>
    <div>
        <app-toggle-switch [(isChecked)]="this.settings.rememberPlaybackStateAfterRestart">
            {{ 'remember-playback-state-after-restart' | translate }}</app-toggle-switch
        >
    </div>
    <mat-divider class="my-4"></mat-divider>
    <div class="title">{{ 'gapless-playback' | translate }}</div>
    <div>
        <app-toggle-switch [(isChecked)]="this.settings.useGaplessPlayback"> {{ 'enable-gapless-playback' | translate }}</app-toggle-switch>
    </div>
    <mat-divider class="my-4"></mat-divider>
    <div class="title">{{ 'split-artists' | translate }}</div>
    <div>
        <div>{{ 'symbols-to-split-multiple-artists' | translate }}</div>
        <div class="d-flex flex-wrap mt-3">
            <app-text-icon-secondary-button
                *ngFor="let separator of this.artistSplitSeparators"
                class="mb-2 mr-2"
                icon="las la-times"
                (click)="this.removeSplitSeparatorAsync(separator)"
                >{{ separator }}</app-text-icon-secondary-button
            >
        </div>
        <app-icon-text-button class="mt-3" icon="las la-plus" (click)="addSplitSeparatorAsync()">{{
            'add' | translate
        }}</app-icon-text-button>
        <div class="mt-3">{{ 'artists-to-never-split' | translate }}</div>
        <div class="d-flex flex-wrap mt-3">
            <app-text-icon-secondary-button
                *ngFor="let exception of this.artistSplitExceptions"
                class="mb-2 mr-2"
                icon="las la-times"
                (click)="this.removeSplitExceptionAsync(exception)"
                >{{ exception }}</app-text-icon-secondary-button
            >
        </div>
        <app-icon-text-button class="mt-3" icon="las la-plus" (click)="addSplitExceptionAsync()">{{
            'add' | translate
        }}</app-icon-text-button>
    </div>
</div>
