<div class="p-4">
    <div class="title">{{ 'multimedia-keys' | translate }}</div>
    <div>
        <app-toggle-switch [(isChecked)]="this.mediaSessionService.enableMultimediaKeys">
            {{ 'enable-multimedia-keys' | translate }}</app-toggle-switch
        >
    </div>
    <mat-divider class="my-4"></mat-divider>
    <div class="title">{{ 'notification-area' | translate }}</div>
    <div>
        <app-toggle-switch [(isChecked)]="this.settings.showIconInNotificationArea">
            {{ 'show-icon-in-notification-area' | translate }}</app-toggle-switch
        >
    </div>
    <div>
        <app-toggle-switch class="mt-3" [(isChecked)]="this.settings.minimizeToNotificationArea">
            {{ 'minimize-to-notification-area' | translate }}</app-toggle-switch
        >
    </div>
    <div>
        <app-toggle-switch class="mt-3" [(isChecked)]="this.settings.closeToNotificationArea">
            {{ 'close-to-notification-area' | translate }}</app-toggle-switch
        >
    </div>
    <div *ngIf="this.trayService.needInvertNotificationAreaIconColor">
        <app-toggle-switch class="mt-3" [(isChecked)]="this.trayService.invertNotificationAreaIconColor">
            {{ 'invert-notification-area-icon-color' | translate }}</app-toggle-switch
        >
    </div>
    <mat-divider class="my-4"></mat-divider>
    <div class="title">{{ 'rating' | translate }}</div>
    <div>
        <app-toggle-switch [(isChecked)]="this.settings.showRating"> {{ 'show-rating' | translate }}</app-toggle-switch>
    </div>
    <div>
        <app-toggle-switch class="mt-3" [(isChecked)]="this.settings.saveRatingToAudioFiles">
            {{ 'save-rating-to-audio-files' | translate }}</app-toggle-switch
        >
    </div>
    <mat-divider class="my-4"></mat-divider>
    <div class="title">{{ 'love' | translate }}</div>
    <div>
        <app-toggle-switch [(isChecked)]="this.settings.showLove"> {{ 'show-love' | translate }}</app-toggle-switch>
    </div>
    <mat-divider class="my-4"></mat-divider>
    <div class="title">{{ 'now-playing' | translate }}</div>
    <div>
        <app-toggle-switch [(isChecked)]="this.settings.keepPlaybackControlsVisibleOnNowPlayingPage">
            {{ 'keep-playback-controls-visible-on-now-playing-page' | translate }}</app-toggle-switch
        >
    </div>
    <mat-divider class="my-4"></mat-divider>
    <div class="title">{{ 'playback-controls' | translate }}</div>
    <div>
        <app-toggle-switch [(isChecked)]="this.settings.rememberPlaybackStateAfterRestart">
            {{ 'remember-playback-controls-after-restart' | translate }}</app-toggle-switch
        >
    </div>
</div>
