<div class="collection-viewport-smaller py-3 d-flex align-items-center justify-content-center">
    <table class="semantic-table">
        <tr class="semantic-row">
            <td class="semantic-column"><app-semantic-zoom-button text="#"></app-semantic-zoom-button></td>
            <td class="semantic-column"><app-semantic-zoom-button text="a"></app-semantic-zoom-button></td>
            <td class="semantic-column"><app-semantic-zoom-button text="b"></app-semantic-zoom-button></td>
            <td class="semantic-column"><app-semantic-zoom-button text="c"></app-semantic-zoom-button></td>
        </tr>
        <tr class="semantic-row">
            <td class="semantic-column"><app-semantic-zoom-button text="d"></app-semantic-zoom-button></td>
            <td class="semantic-column"><app-semantic-zoom-button text="e"></app-semantic-zoom-button></td>
            <td class="semantic-column"><app-semantic-zoom-button text="f"></app-semantic-zoom-button></td>
            <td class="semantic-column"><app-semantic-zoom-button text="g"></app-semantic-zoom-button></td>
        </tr>
        <tr class="semantic-row">
            <td class="semantic-column"><app-semantic-zoom-button text="h"></app-semantic-zoom-button></td>
            <td class="semantic-column"><app-semantic-zoom-button text="i"></app-semantic-zoom-button></td>
            <td class="semantic-column"><app-semantic-zoom-button text="j"></app-semantic-zoom-button></td>
            <td class="semantic-column"><app-semantic-zoom-button text="k"></app-semantic-zoom-button></td>
        </tr>
        <tr class="semantic-row">
            <td class="semantic-column"><app-semantic-zoom-button text="l"></app-semantic-zoom-button></td>
            <td class="semantic-column"><app-semantic-zoom-button text="m"></app-semantic-zoom-button></td>
            <td class="semantic-column"><app-semantic-zoom-button text="n"></app-semantic-zoom-button></td>
            <td class="semantic-column"><app-semantic-zoom-button text="o"></app-semantic-zoom-button></td>
        </tr>
        <tr class="semantic-row">
            <td class="semantic-column"><app-semantic-zoom-button text="p"></app-semantic-zoom-button></td>
            <td class="semantic-column"><app-semantic-zoom-button text="q"></app-semantic-zoom-button></td>
            <td class="semantic-column"><app-semantic-zoom-button text="r"></app-semantic-zoom-button></td>
            <td class="semantic-column"><app-semantic-zoom-button text="s"></app-semantic-zoom-button></td>
        </tr>
        <tr class="semantic-row">
            <td class="semantic-column"><app-semantic-zoom-button text="t"></app-semantic-zoom-button></td>
            <td class="semantic-column"><app-semantic-zoom-button text="u"></app-semantic-zoom-button></td>
            <td class="semantic-column"><app-semantic-zoom-button text="v"></app-semantic-zoom-button></td>
            <td class="semantic-column"><app-semantic-zoom-button text="w"></app-semantic-zoom-button></td>
        </tr>
        <tr class="semantic-row">
            <td class="semantic-column"><app-semantic-zoom-button text="x"></app-semantic-zoom-button></td>
            <td class="semantic-column"><app-semantic-zoom-button text="y"></app-semantic-zoom-button></td>
            <td class="semantic-column"><app-semantic-zoom-button text="z"></app-semantic-zoom-button></td>
            <td class="semantic-column"></td>
        </tr>
    </table>
</div>
