<div class="window-frame">
    <div class="window-frame__titlebar theme-header-background">
        <app-back-button class="m-2"></app-back-button>
        <app-sub-menu>
            <app-sub-menu-item [page]="0" [selectedPage]="this.page" (click)="this.setPage(0)">
                {{ 'music' | translate }}
            </app-sub-menu-item>
            <app-sub-menu-item [page]="1" [selectedPage]="this.page" (click)="this.setPage(1)">
                {{ 'refresh' | translate }}
            </app-sub-menu-item>
            <app-sub-menu-item [page]="2" [selectedPage]="this.page" (click)="this.setPage(2)">
                {{ 'album-covers' | translate }}
            </app-sub-menu-item>
        </app-sub-menu>
        <div class="window-frame__dragarea"></div>
        <app-main-menu class="main-menu"> </app-main-menu>
        <app-window-controls *ngIf="!appearanceService.windowHasNativeTitleBar"></app-window-controls>
    </div>
    <app-notification-bar></app-notification-bar>
    <div class="window-frame__content">
        <!-- Music -->
        <app-manage-music *ngIf="this.leftToRight(0)" [@enterLeftToRight]></app-manage-music>
        <app-manage-music *ngIf="this.rightToLeft(0)" [@enterRightToLeft]></app-manage-music>
        <!-- Refresh -->
        <app-manage-refresh *ngIf="this.leftToRight(1)" [@enterLeftToRight]></app-manage-refresh>
        <app-manage-refresh *ngIf="this.rightToLeft(1)" [@enterRightToLeft]></app-manage-refresh>
        <!-- Album-covers -->
        <app-manage-album-covers *ngIf="this.leftToRight(2)" [@enterLeftToRight]></app-manage-album-covers>
        <app-manage-album-covers *ngIf="this.rightToLeft(2)" [@enterRightToLeft]></app-manage-album-covers>
    </div>
</div>
