.app-playback-information {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.app-playback-information__top__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app-playback-information__bottom__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
