<div class="d-flex flex-column m-2">
    <div class="d-flex flex-row flex-wrap w-100pct">
        <div class="d-flex flex-column flex-grow blue-column"></div>
        <div class="d-flex flex-column flex-grow green-column"></div>
        <div class="d-flex flex-column flex-grow blue-column"></div>
        <div class="d-flex flex-column flex-grow green-column"></div>
    </div>
    <div class="d-flex flex-row flex-wrap w-100pct">
        <div class="d-flex flex-column flex-grow green-column"></div>
        <div class="d-flex flex-column flex-grow blue-column"></div>
        <div class="d-flex flex-column flex-grow green-column"></div>
        <div class="d-flex flex-column flex-grow blue-column"></div>
    </div>
    <div class="d-flex flex-row flex-wrap w-100pct">
        <div class="d-flex flex-column flex-grow blue-column"></div>
        <div class="d-flex flex-column flex-grow green-column"></div>
        <div class="d-flex flex-column flex-grow blue-column"></div>
        <div class="d-flex flex-column flex-grow green-column"></div>
    </div>
    <div class="d-flex flex-row flex-wrap w-100pct">
        <div class="d-flex flex-column flex-grow green-column"></div>
        <div class="d-flex flex-column flex-grow blue-column"></div>
        <div class="d-flex flex-column flex-grow green-column"></div>
        <div class="d-flex flex-column flex-grow blue-column"></div>
    </div>
</div>
