.semantic-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.blue-column {
    background-color: blue;
    height: 100px;
}

.green-column {
    background-color: green;
    height: 100px;
}
