<div class="app-playback-controls">
    <button class="app-playback-controls__button" mat-icon-button><i class="app-playback-controls__icon las la-redo-alt"></i></button>
    <button class="app-playback-controls__button" mat-icon-button><i class="app-playback-controls__icon las la-step-backward"></i></button>

    <!-- Play/Pause -->
    <button *ngIf="playbackService.canPause" class="app-playback-controls__button" mat-icon-button>
        <i class="app-playback-controls__icon las la-pause"></i>
    </button>
    <button *ngIf="playbackService.canResume" class="app-playback-controls__button" mat-icon-button>
        <i class="app-playback-controls__icon las la-play"></i>
    </button>

    <button class="app-playback-controls__button" mat-icon-button><i class="app-playback-controls__icon las la-step-forward"></i></button>
    <button class="app-playback-controls__button" mat-icon-button><i class="app-playback-controls__icon las la-random"></i></button>
</div>
