<div class="bars">
    <div
        class="bar1"
        [ngClass]="{
            'accent-background': !(this.isSelected && this.appearanceService.shouldOverrideSelectedItemText),
            'selected-item-text-background-important': this.isSelected && this.appearanceService.shouldOverrideSelectedItemText
        }"
    ></div>
    <div
        class="bar2"
        [ngClass]="{
            'accent-background': !(this.isSelected && this.appearanceService.shouldOverrideSelectedItemText),
            'selected-item-text-background-important': this.isSelected && this.appearanceService.shouldOverrideSelectedItemText
        }"
    ></div>
    <div
        class="bar3"
        [ngClass]="{
            'accent-background': !(this.isSelected && this.appearanceService.shouldOverrideSelectedItemText),
            'selected-item-text-background-important': this.isSelected && this.appearanceService.shouldOverrideSelectedItemText
        }"
    ></div>
    <div
        class="bar4"
        [ngClass]="{
            'accent-background': !(this.isSelected && this.appearanceService.shouldOverrideSelectedItemText),
            'selected-item-text-background-important': this.isSelected && this.appearanceService.shouldOverrideSelectedItemText
        }"
    ></div>
    <div
        class="bar5"
        [ngClass]="{
            'accent-background': !(this.isSelected && this.appearanceService.shouldOverrideSelectedItemText),
            'selected-item-text-background-important': this.isSelected && this.appearanceService.shouldOverrideSelectedItemText
        }"
    ></div>
</div>
