.app-track {
    display: flex;
    flex-direction: column;
}

.app-track__header {
    display: flex;
    flex-direction: column;
}

.app-track__header__top {
    font-weight: lighter !important;
    font-size: var(--fontsize-large);
}

.app-track__body {
    display: flex;
    flex-direction: row;
    height: 46px;
}

.app-track__body:hover {
    background: var(--theme-hovered-item-background);
}

.app-track__left {
    display: flex;
    width: 40px;
    min-width: 40px;
    height: 46px;
    align-items: center;
    justify-content: center;
    font-size: var(--fontsize-medium);
}

.app-track__right {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 46px;
    min-width: 0;
}

.app-track__top {
    display: flex;
    flex-direction: row;
    height: 23px;
    justify-content: space-between;
    align-items: center;
}

.app-track__bottom {
    display: flex;
    flex-direction: row;
    height: 23px;
    align-items: center;
    justify-content: space-between;
}

.app-track__playback__and__duration {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
