<div class="d-flex flex-column">
    <h1 class="mb-2">
        {{ 'online' | translate }}
    </h1>
    <h3>
        {{ 'online-preferences' | translate }}
    </h3>
    <div>
        <mat-slide-toggle class="mt-3" [(ngModel)]="settings.downloadMissingAlbumCovers">
            {{ 'download-missing-album-covers' | translate }}</mat-slide-toggle
        >
    </div>
    <div>
        <mat-slide-toggle class="mt-3" [(ngModel)]="settings.enableDiscordRichPresence">
            {{ 'enable-discord-rich-presence' | translate }}</mat-slide-toggle
        >
    </div>
</div>
