<div class="p-3">
    <h2>{{ 'Pages.Settings.Theme' | translate }}</h2>
    <div>
        <mat-slide-toggle class="mt-3" [(ngModel)]="appearanceService.followSystemTheme">
            {{ 'Pages.Settings.FollowSystemTheme' | translate }}</mat-slide-toggle>
    </div>
    <div>
        <mat-slide-toggle class="mt-3" [ngClass]="{'inactive':appearanceService.followSystemTheme}"
            [(ngModel)]="appearanceService.useLightBackgroundTheme">
            {{ 'Pages.Settings.UseLightTheme' | translate }}</mat-slide-toggle>
    </div>
</div>
<mat-divider></mat-divider>
<div class="p-3">
    <h2>{{ 'Pages.Settings.Color' | translate }}</h2>
    <div>
        <mat-slide-toggle class="mt-3" [(ngModel)]="appearanceService.followSystemColor">
            {{ 'Pages.Settings.FollowSystemColor' | translate }}</mat-slide-toggle>
    </div>
    <app-color-scheme-switcher class="mt-3" [ngClass]="{'inactive':appearanceService.followSystemColor}">
    </app-color-scheme-switcher>
</div>
<mat-divider></mat-divider>
<div class="p-3">
    <h2>{{ 'Pages.Settings.TitleBar' | translate }}</h2>
    <mat-slide-toggle class="mt-3" [(ngModel)]="settings.useSystemTitleBar">
        {{ 'Pages.Settings.UseSystemTitleBar' | translate }}</mat-slide-toggle>
</div>
<mat-divider></mat-divider>
<div class="p-3">
    <h2 class="mb-3">{{ 'Pages.Settings.Language' | translate }}</h2>
    <div>{{ 'Pages.Settings.ChooseLanguage' | translate }}</div>
    <mat-form-field class="mt-3">
        <mat-select [(ngModel)]="translatorService.selectedLanguage">
            <mat-option *ngFor="let language of translatorService.languages" [value]="language">
                {{ language.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<mat-divider></mat-divider>
<div class="p-3">
    <h2 class="mb-3">{{ 'Pages.Settings.TextSize' | translate }}</h2>
    <div>{{ 'Pages.Settings.ChooseTextSize' | translate }}</div>
    <mat-form-field class="mt-3">
        <mat-select [(ngModel)]="appearanceService.selectedFontSize">
            <mat-option *ngFor="let fontSize of appearanceService.fontSizes" [value]="fontSize">
                {{ fontSize.mediumSize }} px
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>