<div class="p-4">
    <h2>{{ 'theme' | translate }}</h2>
    <div>
        <mat-slide-toggle [(ngModel)]="appearanceService.followSystemTheme"> {{ 'follow-system-theme' | translate }}</mat-slide-toggle>
    </div>
    <div>
        <mat-slide-toggle
            class="mt-3"
            [ngClass]="{ inactive: appearanceService.followSystemTheme }"
            [(ngModel)]="appearanceService.useLightBackgroundTheme"
        >
            {{ 'use-light-theme' | translate }}</mat-slide-toggle
        >
    </div>
</div>
<mat-divider></mat-divider>
<div class="p-4">
    <h2>{{ 'color' | translate }}</h2>
    <div>
        <mat-slide-toggle [(ngModel)]="appearanceService.followSystemColor"> {{ 'follow-system-color' | translate }}</mat-slide-toggle>
    </div>
    <app-theme-switcher class="mt-3" [ngClass]="{ inactive: appearanceService.followSystemColor }"> </app-theme-switcher>
    <div class="mt-3">
        <a (click)="this.appearanceService.refreshThemes()"><i class="las la-sync mr-1"></i>{{ 'refresh-themes' | translate }}</a>
    </div>
    <div class="mt-1">
        <a (click)="this.openThemesDirectory()"><i class="las la-plus mr-1"></i>{{ 'add-more-themes' | translate }}</a>
    </div>
</div>
<mat-divider></mat-divider>
<div class="p-4">
    <h2>{{ 'title-bar' | translate }}</h2>
    <mat-slide-toggle [(ngModel)]="settings.useSystemTitleBar"> {{ 'use-system-title-bar' | translate }}</mat-slide-toggle>
</div>
<mat-divider></mat-divider>
<div class="p-4">
    <h2>{{ 'language' | translate }}</h2>
    <div>{{ 'choose-language' | translate }}</div>
    <mat-form-field>
        <mat-select [(ngModel)]="translatorService.selectedLanguage">
            <mat-option *ngFor="let language of translatorService.languages" [value]="language">
                <div *ngIf="language.hasLatinCharacters">{{ language.localizedName }}</div>
                <div *ngIf="!language.hasLatinCharacters">{{ language.localizedName }} ({{ language.englishName }})</div>
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<mat-divider></mat-divider>
<div class="p-4">
    <h2>{{ 'text-size' | translate }}</h2>
    <div>{{ 'choose-text-size' | translate }}</div>
    <mat-form-field>
        <mat-select [(ngModel)]="appearanceService.selectedFontSize">
            <mat-option *ngFor="let fontSize of appearanceService.fontSizes" [value]="fontSize"> {{ fontSize.normalSize }} px </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<mat-divider></mat-divider>
<div class="p-4">
    <h2>{{ 'pages' | translate }}</h2>
    <div>{{ 'which-pages-should-be-visible' | translate }}</div>
    <div>
        <mat-slide-toggle class="mt-3" [(ngModel)]="settings.showArtistsPage"> {{ 'artists' | translate }}</mat-slide-toggle>
    </div>
    <div>
        <mat-slide-toggle class="mt-3" [(ngModel)]="settings.showGenresPage"> {{ 'genres' | translate }}</mat-slide-toggle>
    </div>
    <div>
        <mat-slide-toggle class="mt-3" [(ngModel)]="settings.showAlbumsPage"> {{ 'albums' | translate }}</mat-slide-toggle>
    </div>
    <div>
        <mat-slide-toggle class="mt-3" [(ngModel)]="settings.showTracksPage"> {{ 'tracks' | translate }}</mat-slide-toggle>
    </div>
    <div>
        <mat-slide-toggle class="mt-3" [(ngModel)]="settings.showPlaylistsPage"> {{ 'playlists' | translate }}</mat-slide-toggle>
    </div>
    <div>
        <mat-slide-toggle class="mt-3" [(ngModel)]="settings.showFoldersPage"> {{ 'folders' | translate }}</mat-slide-toggle>
    </div>
</div>
