<div class="p-2">
    <h2>{{ 'Pages.Settings.Theme' | translate }}</h2>
    <mat-slide-toggle class="mt-2" [(ngModel)]="appearanceService.useLightBackgroundTheme">
        {{ 'Pages.Welcome.Appearance.UseLightTheme' | translate }}</mat-slide-toggle>
    <app-color-scheme-switcher class="mt-2"></app-color-scheme-switcher>
</div>
<mat-divider></mat-divider>
<div class="p-2">
    <h2>{{ 'Pages.Settings.TitleBar' | translate }}</h2>
    <mat-slide-toggle class="mt-2" [(ngModel)]="settings.useSystemTitleBar">
        {{ 'Pages.Settings.UseSystemTitleBar' | translate }}</mat-slide-toggle>
</div>