.app-collection-playback-pane {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
}

.app-collection-playback-pane__progressbar {
    margin-top: -4px;
    margin-bottom: -4px;
}

.app-collection-playback-pane__controls {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.app-collection-playback-pane-controls__left {
    height: 100%;
    width: 33.33vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.app-collection-playback-pane-controls__left > .app-collection-playback-pane-controls__playbackinformation {
    width: calc(33.33vw - 90px);
}

.app-collection-playback-pane-controls__center {
    height: 100%;
    width: 33.33vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.app-collection-playback-pane-controls__right {
    height: 100%;
    width: 33.33vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.app-collection-playback-pane-controls__buttons {
    font-size: 18px;
}

.app-collection-playback-pane_volume {
    width: 110px;
}

.app-collection-playback-pane__cover {
    margin: 8px 0 8px 8px;
}
