<div class="app-collection-playback-pane">
    <app-playback-progress class="app-collection-playback-pane__progressbar"></app-playback-progress>
    <div class="app-collection-playback-pane__controls">
        <div class="app-collection-playback-pane-controls__left">
            <app-playback-cover-art
                class="app-collection-playback-pane__cover pointer"
                [size]="59"
                [borderRadius]="4"
                (click)="this.showNowPlayingAsync()"
                matTooltip="{{ 'now-playing' | translate }}"
            ></app-playback-cover-art
            ><app-playback-information
                class="app-collection-playback-pane-controls__playbackinformation ml-2"
                [height]="75"
                [largeFontSize]="this.appearanceService.selectedFontSize"
                [smallFontSize]="this.appearanceService.selectedFontSize"
                position="center"
                [showRating]="this.settings.showRating"
                [showLove]="this.settings.showLove"
            ></app-playback-information>
        </div>
        <div class="app-collection-playback-pane-controls__center">
            <app-playback-controls></app-playback-controls>
        </div>
        <div class="app-collection-playback-pane-controls__right">
            <app-playback-time class="mr-4"></app-playback-time>
            <i
                class="app-collection-playback-pane-controls__buttons las la-music pointer mr-2"
                (click)="this.showNowPlayingAsync()"
                matTooltip="{{ 'now-playing' | translate }}"
            ></i>
            <i
                class="app-collection-playback-pane-controls__buttons las la-tasks pointer mr-4"
                (click)="this.showPlaybackQueue()"
                matTooltip="{{ 'playback-queue' | translate }}"
            ></i>
            <app-volume-control class="app-collection-playback-pane_volume mr-3"></app-volume-control>
        </div>
    </div>
</div>
