.app-collection-playback-pane {
    width: 100%;
    height: 74px;
    display: flex;
    flex-direction: column;
}

.app-collection-playback-pane__progressbar {
    margin-top: -2px;
    margin-bottom: -2px;
}

.app-collection-playback-pane__content {
    position: relative;
    width: 100%;
    height: 70px;
}

.app-collection-playback-pane__spectrum-analyzer {
    position: absolute;
    z-index: 0;
    left: 50%;
    bottom: 0;
    height: 30px;
    width: 300px;
    transform: translateX(-50%);
}

.app-collection-playback-pane__controls {
    position: absolute;
    z-index: 1;
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 70px;
}

.app-collection-playback-pane-controls__left {
    height: 100%;
    width: 33.33vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.app-collection-playback-pane-controls__left > .app-collection-playback-pane-controls__playbackinformation {
    width: calc(33.33vw - 90px);
}

.app-collection-playback-pane-controls__center {
    height: 100%;
    width: 33.33vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.app-collection-playback-pane-controls__right {
    height: 100%;
    width: 33.33vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.app-collection__playbackqueue {
    font-size: 20px;
}

.app-collection-playback-pane_volume {
    width: 110px;
}
