<div class="app-volume-control">
    <i class="app-volume-control__icon__alt las la-volume-mute" *ngIf="this.volume === 0"></i>
    <i class="app-volume-control__icon__alt las la-volume-down" *ngIf="this.volume > 0 && this.volume < 0.5"></i>
    <i class="app-volume-control__icon las la-volume-up" *ngIf="this.volume >= 0.5"></i>
    <app-slider
        class="app-volume-control__slider ml-3 mr-2"
        [stepSize]="0.01"
        [maximum]="1"
        [mouseStepSize]="0.05"
        [(value)]="this.volume"
    ></app-slider>
</div>
