<div class="p-4">
    <div class="title">{{ 'download' | translate }}</div>
    <div>
        <app-toggle-switch [(isChecked)]="settings.downloadMissingAlbumCovers">{{
            'download-missing-album-covers' | translate
        }}</app-toggle-switch>
    </div>
    <mat-divider class="my-4"></mat-divider>
    <div class="title">{{ 'refresh' | translate }}</div>
    <div>{{ 'refresh-all-covers' | translate }}</div>
    <app-transparent-button class="mt-3" (click)="refreshAllCoversAsync()">
        {{ 'refresh-all' | translate }}
    </app-transparent-button>
    <div class="mt-4">{{ 'refresh-missing-covers' | translate }}</div>
    <app-transparent-button class="mt-3" (click)="refreshMissingCoversAsync()">
        {{ 'refresh-missing' | translate }}
    </app-transparent-button>
</div>
