/* Ensures that cdk-virtual-scroll-content-wrapper sets width of its elements */
.cdk-virtual-scroll-content-wrapper {
    position: unset !important;
    top: unset !important;
    left: unset !important;
}

.cdk-overlay-dark-backdrop{
    background: rgba(var(--theme-rgb-base),0.3)!important
}

