@import "variables";

.no-select {
  user-select: none;
}

.selected-item {
  background-color: var(--button-select-color);
}

.hidden {
  visibility: hidden;
}

.link-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--accent-color);
}

.link-button:hover {
  opacity: 0.8;
}

.link-button > a {
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.link-button-icon {
  font-size: var(--fontsize-large);
}

.link-button-text {
  font-size: var(--fontsize-medium);
}
