@import 'variables';

.no-select {
    user-select: none;
}

.selected-item {
    background-color: var(--theme-selected-item-background);
}

.hidden {
    visibility: hidden;
}

.link-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link-button:hover {
    opacity: 0.8;
}

.link-button > a {
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

.link-button__icon {
    font-size: var(--fontsize-large);
    color: var(--theme-accent-color);
}

.link-button__text {
    font-size: var(--fontsize-medium);
    color: var(--theme-accent-color);
}

.inactive {
    pointer-events: none;
    opacity: 0.4;
}

.collection-viewport {
    /* The splitter resize gutter is not displayed when the height is not set explicitly */
    height: calc(100vh - 120px);
}

.left-side-pane {
    height: 100%;
    background-color: var(--theme-side-pane-background);
    border-right: 1px solid var(--theme-pane-separators);
}

.right-side-pane {
    height: 100%;
    background-color: var(--theme-side-pane-background);
    border-left: 1px solid var(--theme-pane-separators);
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.accent-color {
    color: var(--theme-accent-color);
}

.accent-background-important {
    background-color: var(--theme-accent-color) !important;
}

.white-color-important {
    color: white !important;
}

.fill {
    width: 100%;
    height: 100%;
}

.pointer {
    cursor: pointer;
}

.secondary-text {
    color: var(--theme-secondary-text) !important;
}
