@import 'variables';

.no-select {
    user-select: none;
}

.selected-item-background {
    background-color: var(--theme-selected-item-background);
}

.selected-item-text-color-important {
    color: var(--theme-selected-item-text) !important;
}

.selected-item-text-background-important {
    background-color: var(--theme-selected-item-text) !important;
}

.hidden {
    visibility: hidden;
}

.inactive {
    pointer-events: none;
    opacity: 0.4;
}

.collection-viewport {
    /* The splitter resize gutter is not displayed when the height is not set explicitly */
    height: calc(100vh - 120px);
}

.left-side-pane {
    height: 100%;
    background-color: var(--theme-side-pane-background);
    border-right: 1px solid var(--theme-pane-separators);
}

.right-side-pane {
    height: 100%;
    background-color: var(--theme-side-pane-background);
    border-left: 1px solid var(--theme-pane-separators);
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.accent-color {
    color: var(--theme-accent-color);
}

.accent-color-important {
    color: var(--theme-accent-color) !important;
}

.accent-background {
    background-color: var(--theme-accent-color);
}

.white-color-important {
    color: white !important;
}

.fill {
    width: 100%;
    height: 100%;
}

.pointer {
    cursor: pointer;
}

.secondary-text {
    color: var(--theme-secondary-text);
}

.overflow-hidden-important {
    overflow: hidden !important;
}
