@font-face {
    font-family: segoe;
    src: url(assets/fonts/SegMDL2.ttf) format('truetype');
}

@font-face {
    font-family: roboto-thin;
    src: url(assets/fonts/Roboto-Thin.ttf) format('truetype');
}

@font-face {
    font-family: roboto;
    src: url(assets/fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: material;
    src: url(assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
    font-family: monoglyceride;
    src: url(assets/fonts/Monoglyceride.ttf) format('truetype');
}

@font-face {
    font-family: opensans;
    src: url(assets/fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: opensans;
    font-weight: 100;
    src: url(assets/fonts/OpenSans-Light.ttf) format('truetype');
}