@font-face {
    font-family: monoglyceride;
    src: url(../assets/fonts/Monoglyceride.ttf) format('truetype');
}

@font-face {
    font-family: opensans;
    src: url(../assets/fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: opensans;
    font-weight: 700;
    src: url(../assets/fonts/OpenSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: opensans;
    font-weight: 100;
    src: url(../assets/fonts/OpenSans-Light.ttf) format('truetype');
}
