.mat-menu-item {
    font-size: var(--fontsize-normal) !important;
    height: unset !important;
    line-height: unset !important;
    padding: 8px 12px !important;
}

.mat-menu-panel {
    min-height: unset !important;
    min-width: fit-content !important;
}

.mat-menu-panel span {
    padding-right: 20px;
}
