.mat-tooltip {
    font-size: var(--fontsize-normal) !important;
    background-color: var(--accent-color) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    word-break: break-all !important;
    white-space: normal !important;
}
    