mat-tab-group {
    height: 100%;
}

.mat-tab-body-content {
  // padding-top: 40px;
  // Prevents showing of horizontal scrollbar when switching tabs (might be related to cdk virtual scroll)
  // Found on: https://github.com/angular/components/issues/6104
  &.ng-animating {
    overflow: hidden !important;
  }
}

.mat-tab-label {
    min-width: 0 !important;
    user-select: none; // Prevents accidental selection of the header text
    padding: 0 12px !important; 
    -webkit-app-region: no-drag;
    margin-top: 4px;
    opacity: 1 !important;
    color: var(--theme-tab-text-foreground) !important;
}

.mat-tab-label-content {
   font-size: var(--fontsize-large) !important;
}

.mat-tab-label.mat-tab-label-active {
  color: var(--theme-tab-selected-text-foreground) !important;
}

.mat-tab-header {
    margin-top: -50px;
    border-bottom-style: none !important;
    margin-left: 50px;
    margin-right: 200px;
    height: 50px;
}