.mat-progress-bar-buffer {
    background-color: var(--theme-progress-bar-background) !important;
    opacity: 0.2 !important;
}

.mat-progress-bar-background {
    visibility: hidden !important;
}

.mat-progress-bar-fill::after {
    background-color: var(--theme-accent-color) !important;
}
