@import 'variables';

.accent-snackbar {
  background-color: var(--theme-header-background) !important;
  color: var(--theme-snack-bar-text-foreground) !important;
}

.mat-simple-snackbar > span {
  overflow-wrap: anywhere;
}
