mat-tab-group {
    background-color: $color-darkgrey;
    height: 100%;
}

.mat-tab-body-wrapper {
    color: #000;
    background-color: #fff !important;
    height: 100%;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: $color-lightgrey;
}

.mat-tab-label {
    color: #fff !important;
    opacity: 1 !important;
    user-select: none; // Prevents accidental selection of the header text
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    height: 3px;
}

.mat-tab-header {
    border-bottom-style: none !important;
}

.mat-tab-header-pagination-chevron {
    border-color: #fff !important;
}