.mat-horizontal-stepper-header-container {
    display: none !important;
}

.mat-horizontal-content-container {
    padding: 0px !important;
    width: 100% !important;
    height: 100% !important;
}
