.mat-slide-toggle-bar {
    background-color: rgba(var(--theme-rgb-base), 0.38) !important;
}

.mat-slide-toggle-thumb {
    background-color: #b0b0b0 !important;
}

.mat-checked .mat-slide-toggle-thumb {
    background-color: var(--theme-accent-color) !important;
}
