mat-tab-group {
    height: 100%;
    width: 100%;
}

.mat-tab-body-content {
    // padding-top: 40px;
    // Prevents showing of horizontal scrollbar when switching tabs (might be related to cdk virtual scroll)
    // Found on: https://github.com/angular/components/issues/6104
    &.ng-animating {
        overflow: hidden !important;
    }
}

.mat-tab-body-wrapper {
    flex-grow: 1;
    width: 100%;
}

.mat-tab-label {
    min-width: 0 !important;
    user-select: none; // Prevents accidental selection of the header text
    padding: 0 12px !important;
    -webkit-app-region: no-drag;
    margin-top: 4px;
    opacity: 1 !important;
    color: var(--theme-tab-text-foreground) !important;
}

.mat-tab-label-container {
    align-self: flex-end; // Fixes an alignment issue when opening the development tools
}

.mat-tab-label-content {
    font-size: var(--fontsize-large) !important;
}

.mat-tab-label.mat-tab-label-active {
    color: var(--theme-tab-selected-text-foreground) !important;
}

.mat-tab-header {
    margin-top: -50px;
    border-bottom-style: none !important;
    margin-left: 50px;
    margin-right: 200px;
    height: 50px;
}

// Start of workaround for issue https://github.com/angular/components/issues/3048 */
.mat-tab-label-active {
    .mat-tab-label-content {
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background: var(--theme-accent-color);
            right: 0;
            bottom: 0;
        }
    }
}

mat-ink-bar {
    display: none !important;
}
// End of workaround for issue https://github.com/angular/components/issues/3048 */
