.mat-slider-horizontal {
    min-width: 75px !important;
}

.mat-slider-track-background {
    background-color: var(--theme-slider-background) !important;
    opacity: 0.2 !important;
    transform: unset !important;
}

.mat-slider-focus-ring {
    display: none !important;
}

.mat-slider-thumb {
    transform: unset !important;
    transition: unset !important;
    width: 12px !important;
    height: 12px !important;
    right: -6px !important;
    bottom: -6px !important;
    border: 0px !important;
    background: var(--theme-slider-thumb-background) !important;
    display: none;
}

.mat-slider:hover .mat-slider-thumb {
    display: block;
}
