.pulsating-bg {
    background-color: transparent;
    animation-name: color;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes color {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: rgba(var(--theme-rgb-accent), 0.8);
    }
    100% {
        background-color: transparent;
    }
}
