/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @extend .background-color-primary-0-6;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @extend .background-color-primary;
}
