.h-24px {
    height: 24px;
}

.w-24px {
    width: 24px;
}

.w-48px {
    width: 48px;
}

.w-72px {
    width: 72px;
}

.w-84px {
    width: 84px;
}

.w-4px {
    width: 4px;
}

.radius-12px {
    border-radius: 12px;
}

.font-18px {
    font-size: 18px;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.w-0 {
    width: 0;
}

.vh-100 {
    height: 100vh;
}

.vh-80 {
    height: 80vh;
}

.rotate-90ccw {
    transform: rotate(-90deg);
}

.w-50 {
    width: 50%;
}
