@import '~@angular/material/theming';
@import 'custom-mat-themes';

$custom-typography: mat-typography-config(
    $font-family: 'opensans',
);

@include mat-core($custom-typography);

$default-palette: (
    50: var(--theme-accent-color),
    100: var(--theme-accent-color),
    200: var(--theme-accent-color),
    300: var(--theme-accent-color),
    400: var(--theme-accent-color),
    500: var(--theme-accent-color),
    600: var(--theme-accent-color),
    700: var(--theme-accent-color),
    800: var(--theme-accent-color),
    900: var(--theme-accent-color),
    A100: var(--theme-accent-color),
    A200: var(--theme-accent-color),
    A400: var(--theme-accent-color),
    A700: var(--theme-accent-color),
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$default-theme-primary: mat-palette($default-palette);
$default-theme-accent: mat-palette($default-palette);
$default-theme-warn: mat-palette($default-palette);

$default-theme-dark: custom-mat-dark-theme($default-theme-primary, $default-theme-accent, $default-theme-warn);
$default-theme-light: custom-mat-light-theme($default-theme-primary, $default-theme-accent, $default-theme-warn);

@include angular-material-theme($default-theme-dark);

.default-theme-dark {
    @include angular-material-theme($default-theme-dark);
}

.default-theme-light {
    @include angular-material-theme($default-theme-light);
}

.theme-header-background {
    background-color: var(--theme-header-background) !important;
}
