@import '~@angular/material/theming';
@import 'custom-mat-themes';
@include mat-core();

$default-palette: (
  50: var(--accent-color),
  100: var(--accent-color),
  200: var(--accent-color),
  300: var(--accent-color),
  400: var(--accent-color),
  500: var(--accent-color),
  600: var(--accent-color),
  700: var(--accent-color),
  800: var(--accent-color),
  900: var(--accent-color),
  A100: var(--accent-color),
  A200: var(--accent-color),
  A400: var(--accent-color),
  A700: var(--accent-color),
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$default-theme-primary: mat-palette($default-palette);
$default-theme-accent: mat-palette($default-palette);
$default-theme-warn: mat-palette($default-palette);

$default-theme-dark: custom-mat-dark-theme($default-theme-primary, $default-theme-accent, $default-theme-warn);
$default-theme-light: custom-mat-light-theme($default-theme-primary, $default-theme-accent, $default-theme-warn);

@include angular-material-theme($default-theme-dark);

.default-theme-dark {
  @include angular-material-theme($default-theme-dark);
}

.default-theme-light {
  @include angular-material-theme($default-theme-light);
}
