// Dark theme colors
:root {
  --color-window-background: #1A1A1A;
  --color-text-primary: #E2E2E2;
  --color-text-secondary: #5E5E5E;
  --color-separator: #2F2F2F;
}

[data-theme="light"] {
  --color-window-background: #F5F5F5;
  --color-text-primary: #111111;
  --color-text-secondary: #838383;
  --color-separator: #D8D8D8;
}

// Font sizes
$fontsize-normal: 14px;
$fontsize-larger: 20px;
$fontsize-largest: 40px;

// Sizes
$titlebar-height: 32px;
