// Sizes
$titlebar-height: 46px;

// Colors
:root {
    // Font sizes
    --fontsize-normal: 14px;
    --fontsize-medium: 16px;
    --fontsize-large: 22px;
    --fontsize-extra-large: 26px;
    --fontsize-mega: 36px;

    // Theme colors
    --theme-primary-color: #fff;
    --theme-secondary-color: #fff;
    --theme-accent-color: #fff;
    --theme-window-button-icon: #fff;
    --theme-hovered-item-background: #fff;
    --theme-selected-item-background: #fff;
    --theme-selected-item-text: #fff;
    --theme-header-background: #fff;
    --theme-footer-background: #fff;
    --theme-tab-text: #fff;
    --theme-selected-tab-text: #fff;
    --theme-side-pane-background: #fff;
    --theme-primary-text: #fff;
    --theme-secondary-text: #fff;
    --theme-breadcrumb-background: #fff;
    --theme-slider-background: #fff;
    --theme-slider-thumb-background: #fff;
    --theme-album-cover-background: #fff;
    --theme-album-cover-logo: #fff;
    --theme-pane-separators: #fff;
    --theme-settings-separators: #fff;
    --theme-scroll-bars: #fff;
    --theme-search-box: #fff;
    --theme-search-box-text: #fff;
    --theme-search-box-icon: #fff;
    --theme-album-info-text-align: left;

    // Margins
    --mat-tab-header-margin-right: 0px;
}
