.window-frame {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.window-frame-titlebar {
  width: 100%;
  height: $titlebar-height;
  background-color: $color-darkgrey;
  display: flex;
  flex-direction: row;
}

.window-frame-titlebar-dragarea {
  width: 100%;
  height: $titlebar-height;
  line-height: $titlebar-height;
  flex: 1;
  -webkit-app-region: drag;
  color: white;
}

.window-frame-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .2);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window-frame-content {
  position: absolute;
  top: $titlebar-height;
  bottom: 0;
  left: 0;
  right: 0;
}
