.window-button {
    fill: var(--theme-window-button-icon);
    color: var(--theme-window-button-icon);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 100%;
    user-select: none;
    cursor: default;
    opacity: 0.8;
    -webkit-app-region: no-drag;
}

.window-button:hover,
.window-button:hover * {
    background-color: var(--theme-accent-color) !important;
    fill: var(--theme-highlight-foreground) !important;
    color: var(--theme-highlight-foreground) !important;
}

.window-button__high-contrast {
    fill: var(--theme-highlight-foreground) !important;
    color: var(--theme-highlight-foreground) !important;
}
