.window-button {
    fill: var(--theme-window-button-foreground);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 100%;
    user-select: none;
    cursor: default;
    opacity: 0.8;
    font-size: 10px;
    -webkit-app-region: no-drag;
}

.window-button:hover {
    background-color: var(--theme-item-hovered-background);
    opacity: 1;
}
