<div class="window-frame">
    <div class="window-frame__titlebar theme-header-background">
        <app-back-button class="m-2"></app-back-button>
        <div class="sub-menu">
            <div class="sub-menu__item" [ngClass]="{ 'sub-menu__selected-item': this.page === 0 }" (click)="this.setPage(0)">
                {{ 'appearance' | translate }}
            </div>
            <div class="sub-menu__item" [ngClass]="{ 'sub-menu__selected-item': this.page === 1 }" (click)="this.setPage(1)">
                {{ 'behavior' | translate }}
            </div>
            <div class="sub-menu__item" [ngClass]="{ 'sub-menu__selected-item': this.page === 2 }" (click)="this.setPage(2)">
                {{ 'advanced' | translate }}
            </div>
            <div class="sub-menu__item" [ngClass]="{ 'sub-menu__selected-item': this.page === 3 }" (click)="this.setPage(3)">
                {{ 'online' | translate }}
            </div>
        </div>
        <div class="window-frame__dragarea"></div>
        <app-main-menu class="main-menu"> </app-main-menu>
        <app-window-controls *ngIf="!appearanceService.windowHasNativeTitleBar"></app-window-controls>
    </div>
    <div class="window-frame__content overflow-y-only">
        <app-appearance-settings class="w-100" *ngIf="this.page === 0" [@enterAnimation]></app-appearance-settings>
        <app-behavior-settings class="w-100" *ngIf="this.page === 1" [@enterAnimation]></app-behavior-settings>
        <app-advanced-settings class="w-100" *ngIf="this.page === 2" [@enterAnimation]></app-advanced-settings>
        <app-online-settings class="w-100" *ngIf="this.page === 3" [@enterAnimation]></app-online-settings>
    </div>
</div>
