<div class="window-frame">
    <div class="window-frame__titlebar theme-header-background">
        <div class="window-frame__dragarea">
            <app-back-button class="m-2"></app-back-button>
        </div>
        <app-main-menu class="main-menu"> </app-main-menu>
        <app-window-controls *ngIf="!appearanceService.windowHasNativeTitleBar"></app-window-controls>
    </div>
    <div class="window-frame__content">
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    {{ 'appearance' | translate }}
                </ng-template>
                <app-appearance-settings></app-appearance-settings>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    {{ 'behavior' | translate }}
                </ng-template>
                <app-behavior-settings></app-behavior-settings>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    {{ 'advanced' | translate }}
                </ng-template>
                <app-advanced-settings></app-advanced-settings>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    {{ 'online' | translate }}
                </ng-template>
                <app-online-settings></app-online-settings>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
