<div class="collection-viewport p-3">
    <div class="h-100 w-100 d-flex flex-column">
        <cdk-virtual-scroll-viewport class="flex-grow mt-2" itemSize="28">
            <table class="track-table no-select">
                <thead>
                    <tr class="tracks-table-header">
                        <th class="pointer secondary-text ellipsis">{{ 'title' | translate }}</th>
                        <th class="tracks-table-rating-column pointer"><div class="secondary-text ellipsis" style="margin-left: 4px">{{ 'rating' | translate }}</div></th>
                        <th class="pointer secondary-text ellipsis">{{ 'artists' | translate }}</th>
                        <th class="pointer secondary-text ellipsis">{{ 'album' | translate }}</th>
                        <th class="pointer secondary-text ellipsis">{{ 'genres' | translate }}</th>
                        <th class="tracks-table-number-column pointer secondary-text">#</th>
                        <th class="tracks-table-number-column pointer secondary-text ellipsis">{{ 'year' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *cdkVirtualFor="let track of this.orderedTracks" class="tracks-table-row">
                        <td class="ellipsis">{{ track.artists }}</td>
                        <td class="tracks-table-rating-column ellipsis"><app-rating [track]="track"></app-rating></td>
                        <td class="ellipsis">{{ track.title }}</td>
                        <td class="ellipsis">{{ track.albumTitle }}</td>
                        <td class="ellipsis">{{ track.genres }}</td>
                        <td class="tracks-table-number-column">{{ track.number }}</td>
                        <td class="tracks-table-number-column ellipsis">{{ track.year }}</td>
                    </tr>
                </tbody>
            </table>
        </cdk-virtual-scroll-viewport>
        <app-totals
            class="mt-3"
            [totalDurationInMilliseconds]="this.tracks.totalDurationInMilliseconds"
            [totalFileSizeInBytes]="this.tracks.totalFileSizeInBytes"
        ></app-totals>
    </div>
</div>
