<div class="collection-viewport p-3">
    <div class="h-100 w-100 d-flex flex-column">
        <div class="scrollbar-gutter-stable-y">
            <table class="tracks-table no-select">
                <tr class="tracks-table-header">
                    <td class="pointer secondary-text ellipsis">{{ 'title' | translate }}</td>
                    <td class="w-48px pointer"></td>
                    <td class="w-84px pointer">
                        <div class="secondary-text ellipsis ml-1">{{ 'rating' | translate }}</div>
                    </td>
                    <td class="pointer secondary-text ellipsis">{{ 'artists' | translate }}</td>
                    <td class="pointer secondary-text ellipsis">{{ 'album' | translate }}</td>
                    <td class="pointer secondary-text ellipsis">{{ 'genres' | translate }}</td>
                    <td class="w-56px pointer"><i class="secondary-text las la-clock"></i></td>
                    <td class="w-56px pointer secondary-text text-align-right-important">#</td>
                    <td class="w-56px pointer secondary-text ellipsis">{{ 'year' | translate }}</td>
                    <td class="w-56px pointer secondary-text ellipsis">{{ 'plays' | translate }}</td>
                    <td class="w-56px pointer secondary-text ellipsis">{{ 'skips' | translate }}</td>
                    <td class="pointer secondary-text ellipsis">{{ 'last-played' | translate }}</td>
                    <td class="pointer secondary-text ellipsis">{{ 'date-added' | translate }}</td>
                </tr>
            </table>
        </div>

        <cdk-virtual-scroll-viewport class="flex-grow scrollbar-gutter-stable-y mt-2" itemSize="28">
            <table class="tracks-table no-select">
                <tr
                    *cdkVirtualFor="let track of this.orderedTracks"
                    class="tracks-table-row"
                    [ngClass]="{ 'selected-item-background-important': track.isSelected }"
                    (mousedown)="setSelectedTracks($event, track)"
                    (dblclick)="playbackService.enqueueAndPlayTracks(this.orderedTracks, track)"
                >
                    <td>
                        <div class="ellipsis" [ngClass]="{ 'accent-color': track.isPlaying }">
                            {{ track.title }}
                        </div>
                    </td>
                    <td class="w-48px">
                        <app-playback-indicator *ngIf="track.isPlaying" [isSelected]="track.isSelected"></app-playback-indicator>
                    </td>
                    <td class="w-84px"><app-rating [track]="track"></app-rating></td>
                    <td>
                        <div class="ellipsis" [ngClass]="{ 'accent-color': track.isPlaying }">
                            {{ track.artists }}
                        </div>
                    </td>
                    <td>
                        <div class="ellipsis" [ngClass]="{ 'accent-color': track.isPlaying }">
                            {{ track.albumTitle }}
                        </div>
                    </td>
                    <td>
                        <div class="ellipsis" [ngClass]="{ 'accent-color': track.isPlaying }">
                            {{ track.genres }}
                        </div>
                    </td>
                    <td class="w-56px">
                        <div class="ellipsis" [ngClass]="{ 'accent-color': track.isPlaying }">
                            {{ track.durationInMilliseconds | formatTrackDuration }}
                        </div>
                    </td>
                    <td class="w-56px text-align-right-important">
                        <div class="ellipsis" [ngClass]="{ 'accent-color': track.isPlaying }">
                            {{ track.number | zeroToBlank }}
                        </div>
                    </td>
                    <td class="w-56px">
                        <div class="ellipsis" [ngClass]="{ 'accent-color': track.isPlaying }">
                            {{ track.year | zeroToBlank }}
                        </div>
                    </td>
                    <td class="w-56px">
                        <div class="ellipsis" [ngClass]="{ 'accent-color': track.isPlaying }">
                            {{ track.playCount }}
                        </div>
                    </td>
                    <td class="w-56px">
                        <div class="ellipsis" [ngClass]="{ 'accent-color': track.isPlaying }">
                            {{ track.skipCount }}
                        </div>
                    </td>
                    <td>
                        <div class="ellipsis" [ngClass]="{ 'accent-color': track.isPlaying }">{{ track.dateLastPlayed | formatTicksToDateTimeString }}</div>
                    </td>
                    <td>
                        <div class="ellipsis" [ngClass]="{ 'accent-color': track.isPlaying }">{{ track.dateAdded | formatTicksToDateTimeString }}</div>
                    </td>
                </tr>
            </table>
        </cdk-virtual-scroll-viewport>
        <app-totals
            class="mt-3"
            [totalDurationInMilliseconds]="this.tracks.totalDurationInMilliseconds"
            [totalFileSizeInBytes]="this.tracks.totalFileSizeInBytes"
        ></app-totals>
    </div>
</div>
