.tracks-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.tracks-table td {
    padding-left: 8px;
    padding-right: 8px;
    text-align: left;
}

.tracks-table-row {
    height: 28px;
}

.tracks-table-row:hover {
    background: var(--theme-hovered-item-background);
}

.tracks-table-header {
    height: 28px;
}

.tracks-table-playback-indicator-column {
    width: 28px;
}

.tracks-table-number-column {
    width: 56px;
    text-align: right !important;
}

.tracks-table-rating-column {
    width: 84px;
}
