[Desktop Entry]
Name=Dopamine
Exec=dopamine %U
Terminal=false
Type=Application
Icon=dopamine
StartupWMClass=Dopamine
Comment=Dopamine is an elegant audio player which tries to make organizing and listening to music as simple and pretty as possible.
Categories=Audio;
