<div class="p-4">
    <div class="title">{{ 'about' | translate }}</div>
    <app-logo-full></app-logo-full>
    <div class="mt-3">{{ 'version' | translate }}: {{ applicationVersion }} <br />{{ applicationCopyright }}</div>
    <app-transparent-button class="mt-3" (click)="showLicenseDialog()">
        {{ 'license' | translate }}
    </app-transparent-button>
    <mat-divider class="my-4"></mat-divider>
    <div class="title">{{ 'donate' | translate }}</div>
    <div>{{ 'donate-instructions' | translate }}</div>
    <app-accent-button class="mt-3" (click)="browseToDonateLinkAsync()">
        {{ 'donate' | translate }}
    </app-accent-button>
    <mat-divider class="my-4"></mat-divider>
    <div class="title">{{ 'contact-us' | translate }}</div>
    <div class="contact-item mb-2 mt-3">
        <i class="contact-item-icon mr-2 las la-globe"></i>
        <a href="{{ websiteUrl }}" matTooltip="{{ websiteUrl }}">{{ 'website' | translate }}</a>
    </div>
    <div class="contact-item mb-2">
        <i class="contact-item-icon mr-2 lab la-twitter"></i>
        <a href="{{ twitterUrl }}" matTooltip="{{ twitterUrl }}">Twitter</a>
    </div>
    <div class="contact-item">
        <i class="contact-item-icon mr-2 lab la-github"></i>
        <a href="{{ githubUrl }}" matTooltip="{{ githubUrl }}">GitHub</a>
    </div>
    <mat-divider class="my-4"></mat-divider>
    <div class="title">{{ 'thanks' | translate }}</div>
    <div>{{ 'thanks-to-sharlee' | translate }} (<a href="https://www.itssharl.ee/" matTooltip="https://www.itssharl.ee/">Sharlee</a>)</div>
    <div>{{ 'thanks-to-donaters' | translate }}</div>
    <div>{{ 'thanks-to-translators' | translate }}</div>
    <div>{{ 'thanks-to-developers' | translate }}</div>
    <div>{{ 'thanks-to-neowin' | translate }} (<a href="https://www.neowin.net/" matTooltip="https://www.neowin.net/">Neowin</a>)</div>
</div>
