.contact-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-item-icon {
    font-size: 28px;
}

.contact-item-icon-fa {
    margin-left: 2px;
    margin-right: 1px;
    font-size: 20px;
}
