<div class="p-4">
    <div class="title">{{ 'theme' | translate }}</div>
    <div>
        <app-toggle-switch [(isChecked)]="this.appearanceService.followSystemTheme">{{
            'follow-system-theme' | translate
        }}</app-toggle-switch>
    </div>
    <div>
        <app-toggle-switch
            class="mt-3"
            [ngClass]="{ inactive: appearanceService.followSystemTheme }"
            [(isChecked)]="appearanceService.useLightBackgroundTheme"
        >
            {{ 'use-light-theme' | translate }}</app-toggle-switch
        >
    </div>
    <mat-divider class="my-4"></mat-divider>
    <div class="title">{{ 'color' | translate }}</div>
    <div>
        <app-toggle-switch [(isChecked)]="appearanceService.followSystemColor"> {{ 'follow-system-color' | translate }}</app-toggle-switch>
    </div>
    <div>
        <app-toggle-switch [(isChecked)]="appearanceService.followAlbumCoverColor">
            {{ 'follow-album-cover-color' | translate }}</app-toggle-switch
        >
    </div>
    <app-theme-switcher
        class="mt-3"
        [ngClass]="{ inactive: appearanceService.followSystemColor || appearanceService.followAlbumCoverColor }"
    >
    </app-theme-switcher>
    <div class="d-flex flex-row mt-3">
        <app-icon-text-button class="mr-2" (click)="this.appearanceService.refreshThemes()" icon="las la-sync">{{
            'refresh-themes' | translate
        }}</app-icon-text-button>
        <app-icon-text-button (click)="this.openThemesDirectoryAsync()" icon="las la-plus">{{
            'add-more-themes' | translate
        }}</app-icon-text-button>
    </div>
    <mat-divider class="my-4"></mat-divider>
    <div class="title">{{ 'images' | translate }}</div>
    <div>
        <app-toggle-switch [(isChecked)]="this.settings.showSquareImages">
            {{ 'i-prefer-square-images' | translate }}</app-toggle-switch
        >
    </div>
    <mat-divider class="my-4"></mat-divider>
    <div class="title">{{ 'title-bar' | translate }}</div>
    <app-toggle-switch [(isChecked)]="settings.useSystemTitleBar"> {{ 'use-system-title-bar' | translate }}</app-toggle-switch>
    <mat-divider class="my-4"></mat-divider>
    <div class="title">{{ 'language' | translate }}</div>
    <div>{{ 'choose-language' | translate }}</div>
    <mat-form-field class="mt-2">
        <mat-select [(ngModel)]="translatorService.selectedLanguage">
            <mat-option *ngFor="let language of translatorService.languages" [value]="language">
                <div *ngIf="!language.showEnglishName">{{ language.localizedName }}</div>
                <div *ngIf="language.showEnglishName">{{ language.localizedName }} ({{ language.englishName }})</div>
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-divider class="my-4"></mat-divider>
    <div class="title">{{ 'text-size' | translate }}</div>
    <div>{{ 'choose-text-size' | translate }}</div>
    <mat-form-field class="mt-2">
        <mat-select [(ngModel)]="appearanceService.selectedFontSize">
            <mat-option *ngFor="let fontSize of appearanceService.fontSizes" [value]="fontSize"> {{ fontSize }} px </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-divider class="my-4"></mat-divider>
    <div class="title">{{ 'pages' | translate }}</div>
    <div>{{ 'which-pages-should-be-visible' | translate }}</div>
    <div>
        <app-toggle-switch class="mt-3" [(isChecked)]="settings.showArtistsPage"> {{ 'artists' | translate }}</app-toggle-switch>
    </div>
    <div>
        <app-toggle-switch class="mt-3" [(isChecked)]="settings.showGenresPage"> {{ 'genres' | translate }}</app-toggle-switch>
    </div>
    <div>
        <app-toggle-switch class="mt-3" [(isChecked)]="settings.showAlbumsPage"> {{ 'albums' | translate }}</app-toggle-switch>
    </div>
    <div>
        <app-toggle-switch class="mt-3" [(isChecked)]="settings.showTracksPage"> {{ 'tracks' | translate }}</app-toggle-switch>
    </div>
    <div>
        <app-toggle-switch class="mt-3" [(isChecked)]="settings.showPlaylistsPage"> {{ 'playlists' | translate }}</app-toggle-switch>
    </div>
    <div>
        <app-toggle-switch class="mt-3" [(isChecked)]="settings.showFoldersPage"> {{ 'folders' | translate }}</app-toggle-switch>
    </div>
    <mat-divider class="my-4"></mat-divider>
    <div class="title">{{ 'audio-visualizer' | translate }}</div>
    <div>
        <app-toggle-switch [(isChecked)]="this.audioVisualizerService.showAudioVisualizer">
            {{ 'show-audio-visualizer' | translate }}</app-toggle-switch
        >
    </div>
    <div [ngClass]="{ inactive: !this.audioVisualizerService.showAudioVisualizer }">
        <div class="mt-3">{{ 'style' | translate }}</div>
        <mat-form-field class="mt-2">
            <mat-select [(ngModel)]="this.audioVisualizerService.selectedAudioVisualizerStyle">
                <mat-option
                    *ngFor="let audioVisualizerStyle of this.audioVisualizerService.audioVisualizerStyles"
                    [value]="audioVisualizerStyle"
                >
                    {{ audioVisualizerStyle | translate }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="mt-3">{{ 'frame-rate' | translate }}</div>
        <mat-form-field class="mt-2">
            <mat-select [(ngModel)]="this.audioVisualizerService.selectedAudioVisualizerFrameRate">
                <mat-option
                    *ngFor="let audioVisualizerFrameRate of this.audioVisualizerService.audioVisualizerFrameRates"
                    [value]="audioVisualizerFrameRate"
                >
                    {{ audioVisualizerFrameRate }} {{ 'fps' | translate }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
