<div class="d-flex flex-column p-3">
    <h1 class="mb-2">
        {{ 'language' | translate }}
    </h1>
    <h3>
        {{ 'pick-your-language' | translate }}
    </h3>
    <div class="mt-3">
        <mat-form-field>
            <mat-select [(ngModel)]="translatorService.selectedLanguage">
                <mat-option *ngFor="let language of translatorService.languages" [value]="language">
                    <div *ngIf="!language.showEnglishName">{{ language.localizedName }}</div>
                    <div *ngIf="language.showEnglishName">{{ language.localizedName }} ({{ language.englishName }})</div>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
