<div class="add-folder-component" [ngClass]="{ inactive: indexingService.isIndexingCollection }">
    <div class="mb-3">
        <app-icon-text-button (click)="addFolderAsync()" icon="las la-plus">{{ 'add-folder' | translate }}</app-icon-text-button>
    </div>
    <mat-checkbox [(ngModel)]="showAllFoldersInCollection" *ngIf="showCheckBoxes">
        {{ 'show-all-folders-in-the-collection' | translate }}</mat-checkbox
    >
    <ul class="mt-1">
        <li
            *ngFor="let folder of folders"
            matRipple
            [ngClass]="{ 'selected-item-background-important': folder === selectedFolder }"
            (mousedown)="setSelectedFolder(folder)"
        >
            <div class="folder d-flex flex-grow align-items-center">
                <mat-checkbox
                    class="folder__checkbox"
                    [(ngModel)]="folder.showInCollection"
                    *ngIf="showCheckBoxes"
                    matTooltip="{{ 'show-in-the-collection' | translate }}"
                    (ngModelChange)="setFolderVisibility(folder)"
                ></mat-checkbox>
                <i class="folder__icon m-1 lar la-folder"></i>
                <div class="folder__path ellipsis m-1" matTooltip="{{ folder.path }}">{{ folder.path }}</div>
                <i
                    class="folder__action m-1 las la-times"
                    [ngStyle]="{ display: folder === selectedFolder ? 'block' : 'none' }"
                    matTooltip="{{ 'delete-folder' | translate }}"
                    (click)="deleteFolderAsync(folder)"
                ></i>
            </div>
        </li>
    </ul>
</div>
