@import 'colors';

.app-now-playing-lyrics {
    padding: 120px;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.app-now-playing-lyrics__picture {
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.app-now-playing-lyrics__spinner {
    display: flex;
    flex: 1;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
}

.app-now-playing-lyrics__text {
    display: flex;
    flex: 1;
    margin-left: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}

.app-now-playing-lyrics__playback-info {
    width: 300px;
}

.app-now-playing-lyrics__icon {
    @extend .font-icon-accent-gradient;
    font-size: 200px;
    display: flex;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
}
