<div class="app-now-playing-lyrics">
    <div class="d-flex flex-column">
        <app-playback-cover-art class="app-now-playing-lyrics__picture" [size]="300" [borderRadius]="10"></app-playback-cover-art>
        <div class="mt-3 mx-1">
            <div class="secondary-text d-flex align-items-center" *ngIf="this.lyrics?.sourceType === lyricsSourceTypeEnum.none">
                {{ 'no-lyrics' | translate }}<i class="secondary-text las la-frown ml-1"></i>
            </div>
            <div class="secondary-text d-flex align-items-center" *ngIf="this.lyrics?.sourceType === lyricsSourceTypeEnum.embedded">
                {{ 'embedded-lyrics' | translate }}<i class="secondary-text las la-check ml-1"></i>
            </div>
            <div class="secondary-text d-flex align-items-center" *ngIf="this.lyrics?.sourceType === lyricsSourceTypeEnum.lrc">
                {{ 'lrc-lyrics' | translate }}<i class="secondary-text las la-file-alt ml-1"></i>
            </div>
            <div class="secondary-text d-flex align-items-center" *ngIf="this.lyrics?.sourceType === lyricsSourceTypeEnum.online">
                {{ this.lyrics?.sourceName }}<i class="secondary-text las la-globe ml-1"></i>
            </div>
        </div>
        <app-playback-information
            class="app-now-playing-lyrics__playback-info"
            height="120"
            position="top"
            [largeFontSize]="this.largeFontSize"
            [smallFontSize]="this.smallFontSize"
        ></app-playback-information>
    </div>
    <div *ngIf="this.isBusy" class="app-now-playing-lyrics__spinner">
        <mat-spinner [diameter]="40"></mat-spinner>
    </div>
    <div *ngIf="!this.isBusy" class="app-now-playing-lyrics__text">
        <div class="break-on-newline">
            <div *ngIf="this.hasLyrics" [innerText]="this.lyrics?.text"></div>
            <div *ngIf="!this.hasLyrics">{{ 'no-lyrics-found' | translate }}</div>
        </div>
    </div>
</div>
