@import 'variables';

.sub-menu__item {
    display: flex;
    height: $titlebar-height;
    align-items: center;
    padding: 0 24px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-app-region: no-drag;
}

.sub-menu__item > * {
    color: var(--theme-secondary-text);
}

.sub-menu__selected-item {
    border-bottom: 2px solid var(--theme-accent-color);
}

.sub-menu__selected-item > * {
    color: var(--theme-primary-text);
}

.sub-menu__item-icon {
    display: none;
    font-size: 18px;
}

.sub-menu__item-text {
    text-wrap: nowrap;
}

@media (max-width: 1100px) {
    .sub-menu__item {
        padding: 0 12px;
    }

    .sub-menu__item-text {
        display: none;
    }

    .sub-menu__item-icon {
        display: inline;
    }
}
