@import 'variables';

.sub-menu__item {
    display: flex;
    height: $titlebar-height;
    align-items: center;
    padding: 0 24px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    color: var(--theme-secondary-text);
    text-transform: uppercase;
}

.sub-menu__selected-item {
    border-bottom: 2px solid var(--theme-accent-color);
    color: var(--theme-primary-text);
}
