@import 'variables';

.cover-player__titlebar {
    width: 100%;
    height: $titlebar-height;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0) 100%);
}

.cover-player__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    top: 0;
}

.cover-player__playback-pane {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
}

.cover-player__progressbar {
    margin-top: -4px;
    margin-bottom: -4px;
}

.app-cover-player-controls__audio-visualizer {
    position: absolute;
    z-index: 0;
    left: 50%;
    bottom: 0;
    height: 30px;
    width: 300px;
    transform: translateX(-50%);
}

.cover-player__playback-controls__container {
    position: relative;
    height: 100%;
}

.cover-player__playback-controls {
    position: absolute;
    bottom: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cover-player__cover-pane {
    position: relative;
    width: 350px;
    height: 350px;
}

.cover-player-cover-pane__cover {
    position: absolute;
    width: 350px;
    height: 350px;
    z-index: 0;
    top: 0;
    left: 0;
}

.cover-player-cover-pane__songinfo {
    position: absolute;
    width: 350px;
    height: 100px;
    z-index: 1;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0) 100%);
}

.cover-player-playback-controls__buttons {
    font-size: 18px;
}
