.edit-tracks__image {
    width: 180px;
    height: 180px;
    background: var(--theme-album-cover-background);
    display: grid;
    grid-template-columns: 1fr;
}

.edit-tracks__image div {
    grid-row-start: 1;
    grid-column-start: 1;
}

.edit-tracks__image__placeholder {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-tracks__image__placeholder svg {
    width: 60%;
    height: 60%;
}

.edit-tracks__image__placeholder path {
    fill: var(--theme-album-cover-logo);
}

.edit-tracks__remove-button {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background: var(--theme-accent-color);
    margin-top: 4px;
    margin-right: 4px;
    justify-self: end;
    z-index: 99;
}

.edit-tracks__remove-button i {
    color: var(--theme-highlight-foreground);
    font-size: 14px;
    line-height: 14px;
}
