<div class="p-3">
    <h2>{{ 'Pages.Information.Components' | translate }}</h2>
    <div class="mb-3" *ngFor="let externalComponent of externalComponents">
        <strong>{{externalComponent.name}}</strong><br />
        {{externalComponent.description}}<br />
        <a href="{{externalComponent.url}}">{{ 'Pages.Information.Website' | translate }}</a>
        <a *ngIf="externalComponent.licenseUrl != undefined && externalComponent.licenseUrl != ''" class="ml-2"
            href="{{externalComponent.licenseUrl}}">{{ 'Pages.Information.License' | translate }}</a>
    </div>
</div>