@import 'theming';

.window-controls {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.window-controls .close-button:hover {
    background-color: var(--theme-accent-color);
    fill: var(--theme-highlight-foreground);
}

.switch-player__icon {
    color: var(--theme-window-button-icon);
    font-size: 20px;
}
