<div class="app-track mx-1 no-select">
    <div class="app-track__left">{{ track.number | formatTrackNumber }}</div>
    <div class="app-track__right">
        <div class="app-track__top">
            <span class="ellipsis">{{ track.title | formatTrackTitle: track.fileName }}</span>
            {{ track.durationInMilliseconds | formatTrackDuration }}
        </div>
        <div class="app-track__bottom">
            <span class="ellipsis">{{ track.artists | formatTrackArtists }}</span>
            <span></span>
        </div>
    </div>
</div>
