.app-album-cloud {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.app-album-cloud__content {
    background: transparent !important;
    flex: 1;
    width: 100vw;
    height: 100vh;
    padding-bottom: 37px;
}

.app-album-cloud-playback-controls__container {
    position: relative;
}

.app-album-cloud-playback-controls__background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    z-index: 0;
}

.app-album-cloud-playback-controls__audio-visualizer {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 0;
    height: 30px;
    width: 300px;
    transform: translateX(-50%);
}

.app-album-cloud-playback-controls__playback-pane {
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.stage {
    padding: 12.5vh;
}

.stage-left {
    position: relative;
    // background: lightblue;
    margin-right: 1.35vh;
    height: 100%;
}

.stage-right {
    position: relative;
    // background: lightgreen;
    height: 100%;
}

/* Base square */
.square {
    --square-base-unit: 1.35vh;
    position: absolute;
    background: red;
    aspect-ratio: 1 / 1;
}

/* Left */
.left-11 {
    width: calc(9 * var(--square-base-unit));
    top: 0;
    right: 0;
}

.left-21 {
    width: calc(7 * var(--square-base-unit));
    top: calc(23 * var(--square-base-unit));
    right: calc(35 * var(--square-base-unit));
}

.left-22-5 {
    width: calc(13 * var(--square-base-unit));
    top: calc(17 * var(--square-base-unit));
    right: calc(21 * var(--square-base-unit));
}

.left-23-1 {
    width: calc(20 * var(--square-base-unit));
    top: calc(10 * var(--square-base-unit));
    right: 0;
}

.left-31-7 {
    width: calc(11 * var(--square-base-unit));
    top: calc(31 * var(--square-base-unit));
    right: calc(16 * var(--square-base-unit));
}

.left-32-4 {
    width: calc(15 * var(--square-base-unit));
    top: calc(31 * var(--square-base-unit));
    right: 0;
}

/* Right */
.right-11-3 {
    width: calc(15 * var(--square-base-unit));
    top: calc(4 * var(--square-base-unit));
    left: 0;
}

.right-12-8 {
    width: calc(11 * var(--square-base-unit));
    top: calc(8 * var(--square-base-unit));
    left: calc(16 * var(--square-base-unit));
}

.right-21-2 {
    width: calc(20 * var(--square-base-unit));
    top: calc(20 * var(--square-base-unit));
    left: 0;
}

.right-22-6 {
    width: calc(13 * var(--square-base-unit));
    top: calc(20 * var(--square-base-unit));
    left: calc(21 * var(--square-base-unit));
}

.right-23 {
    width: calc(7 * var(--square-base-unit));
    top: calc(20 * var(--square-base-unit));
    left: calc(35 * var(--square-base-unit));
}

.right-31 {
    width: calc(9 * var(--square-base-unit));
    top: calc(41 * var(--square-base-unit));
    left: 0;
}
