<div class="window-frame">
    <div class="window-frame__titlebar">
        <div *ngIf="appearanceService.needsTrafficLightMargin" class="window-frame__trafficlights"></div>
        <div class="window-button back-button" (click)="this.goBackToCollectionAsync()" [@controlsVisibility]="controlsVisibility">
            <i class="back-button__icon las la-arrow-left"></i>
        </div>
        <div class="window-frame__dragarea"></div>
        <app-switch-player-button [@controlsVisibility]="controlsVisibility"></app-switch-player-button>
        <app-window-controls
            *ngIf="appearanceService.needsCustomWindowControls"
            [@controlsVisibility]="controlsVisibility"
        ></app-window-controls>
    </div>
    <div class="window-frame__content">
        <div class="app-album-cloud">
            <div class="app-album-cloud__content">
                <div class="stage d-flex flex-row w-100 h-100">
                    <div class="stage-left w-50 h-100">
                        <div class="square left-11-9" [@albumFadeIn]>
                            <app-album-placeholder></app-album-placeholder>
                            <img
                                *ngIf="mostPlayedAlbums[8]?.artworkPath"
                                class="square-image"
                                [style.animation-delay.s]="animationDelays[8]"
                                [src]="mostPlayedAlbums[8]?.artworkPath"
                            />
                        </div>
                        <div class="square left-21-12" [@albumFadeIn]>
                            <app-album-placeholder></app-album-placeholder>
                            <img
                                *ngIf="mostPlayedAlbums[11]?.artworkPath"
                                class="square-image"
                                [style.animation-delay.s]="animationDelays[11]"
                                [src]="mostPlayedAlbums[11]?.artworkPath"
                            />
                        </div>
                        <div class="square left-22-5" [@albumFadeIn]>
                            <app-album-placeholder></app-album-placeholder>
                            <img
                                *ngIf="mostPlayedAlbums[4]?.artworkPath"
                                class="square-image"
                                [style.animation-delay.s]="animationDelays[4]"
                                [src]="mostPlayedAlbums[4]?.artworkPath"
                            />
                        </div>
                        <div class="square left-23-1" [@albumFadeIn]>
                            <app-album-placeholder></app-album-placeholder>
                            <img
                                *ngIf="mostPlayedAlbums[0]?.artworkPath"
                                class="square-image"
                                [style.animation-delay.s]="animationDelays[0]"
                                [src]="mostPlayedAlbums[0]?.artworkPath"
                            />
                        </div>
                        <div class="square left-31-7" [@albumFadeIn]>
                            <app-album-placeholder></app-album-placeholder>
                            <img
                                *ngIf="mostPlayedAlbums[6]?.artworkPath"
                                class="square-image"
                                [style.animation-delay.s]="animationDelays[6]"
                                [src]="mostPlayedAlbums[6]?.artworkPath"
                            />
                        </div>
                        <div class="square left-32-4" [@albumFadeIn]>
                            <app-album-placeholder></app-album-placeholder>
                            <img
                                *ngIf="mostPlayedAlbums[3]?.artworkPath"
                                class="square-image"
                                [style.animation-delay.s]="animationDelays[3]"
                                [src]="mostPlayedAlbums[3]?.artworkPath"
                            />
                        </div>
                    </div>
                    <div class="stage-right w-50 h-100">
                        <div class="square right-11-3" [@albumFadeIn]>
                            <app-album-placeholder></app-album-placeholder>
                            <img
                                *ngIf="mostPlayedAlbums[2]?.artworkPath"
                                class="square-image"
                                [style.animation-delay.s]="animationDelays[2]"
                                [src]="mostPlayedAlbums[2]?.artworkPath"
                            />
                        </div>
                        <div class="square right-12-8" [@albumFadeIn]>
                            <app-album-placeholder></app-album-placeholder>
                            <img
                                *ngIf="mostPlayedAlbums[7]?.artworkPath"
                                class="square-image"
                                [style.animation-delay.s]="animationDelays[7]"
                                [src]="mostPlayedAlbums[7]?.artworkPath"
                            />
                        </div>
                        <div class="square right-21-2" [@albumFadeIn]>
                            <app-album-placeholder></app-album-placeholder>
                            <img
                                *ngIf="mostPlayedAlbums[1]?.artworkPath"
                                class="square-image"
                                [style.animation-delay.s]="animationDelays[1]"
                                [src]="mostPlayedAlbums[1]?.artworkPath"
                            />
                        </div>
                        <div class="square right-22-6" [@albumFadeIn]>
                            <app-album-placeholder></app-album-placeholder>
                            <img
                                *ngIf="mostPlayedAlbums[5]?.artworkPath"
                                class="square-image"
                                [style.animation-delay.s]="animationDelays[5]"
                                [src]="mostPlayedAlbums[5]?.artworkPath"
                            />
                        </div>
                        <div class="square right-23-11" [@albumFadeIn]>
                            <app-album-placeholder></app-album-placeholder>
                            <img
                                *ngIf="mostPlayedAlbums[10]?.artworkPath"
                                class="square-image"
                                [style.animation-delay.s]="animationDelays[10]"
                                [src]="mostPlayedAlbums[10]?.artworkPath"
                            />
                        </div>
                        <div class="square right-31-10" [@albumFadeIn]>
                            <app-album-placeholder></app-album-placeholder>
                            <img
                                *ngIf="mostPlayedAlbums[9]?.artworkPath"
                                class="square-image"
                                [style.animation-delay.s]="animationDelays[9]"
                                [src]="mostPlayedAlbums[9]?.artworkPath"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-album-cloud-playback-controls__container">
                <div
                    class="app-album-cloud-playback-controls__background theme-footer-background"
                    [@controlsVisibility]="controlsVisibility"
                ></div>
                <canvas id="nowPlayingAudioVisualizer" class="app-album-cloud-playback-controls__audio-visualizer"></canvas>
                <app-now-playing-playback-pane
                    class="app-album-cloud-playback-controls__playback-pane"
                    [@controlsVisibility]="controlsVisibility"
                ></app-now-playing-playback-pane>
            </div>
        </div>
    </div>
</div>
