.app-album-cloud {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.app-album-cloud__content {
    background: transparent !important;
    flex: 1;
    width: 100vw;
    height: 100vh;
    padding-bottom: 37px;
}

.app-album-cloud-playback-controls__container {
    position: relative;
}

.app-album-cloud-playback-controls__background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    z-index: 0;
}

.app-album-cloud-playback-controls__audio-visualizer {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 0;
    height: 30px;
    width: 300px;
    transform: translateX(-50%);
}

.app-album-cloud-playback-controls__playback-pane {
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.stage {
    padding: 12.5vh;
}

.stage-left {
    position: relative;
    background: lightblue;
    margin-right: 5px;
    height: 100%;
}

.stage-right {
    position: relative;
    background: lightgreen;
    margin-left: 5px;
    height: 100%;
}

/* Base square */
.square {
    position: absolute;
    background: red;
    aspect-ratio: 1 / 1;
}

/* Left */
.left-11 {
    width: 11.25vh;
    top: 0;
    right: 0;
}

.left-21 {
    width: 8.75vh;
    top: 28.75vh;
    right: 43.75vh;
}

.left-22 {
    width: 16.25vh;
    top: 21.25vh;
    right: 26.25vh;
}

.left-23 {
    width: 25vh;
    top: 12.5vh;
    right: 0;
}

.left-31 {
    width: 13.75vh;
    top: 38.75vh;
    right: 20vh;
}

.left-32 {
    width: 18.75vh;
    top: 38.75vh;
    right: 0;
}

/* Right */
.right-11 {
    width: 18.75vh;
    top: 5vh;
    left: 0;
}

.right-12 {
    width: 13.75vh;
    top: 10vh;
    left: 20vh;
}

.right-21 {
    width: 25vh;
    top: 25vh;
    left: 0;
}

.right-22 {
    width: 16.25vh;
    top: 25vh;
    left: 26.25vh;
}

.right-23 {
    width: 8.75vh;
    top: 25vh;
    left: 43.75vh;
}

.right-31 {
    width: 11.25vh;
    top: 51.25vh;
    left: 0;
}
