@import 'variables';

.dialog-header-component {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dialog-header-component__icon {
    background: linear-gradient(45deg, var(--theme-primary-color) 30%, var(--theme-secondary-color) 100%);
    width: 32px;
    min-width: 32px;
    height: 32px;
    border-radius: 16px 0px 16px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--theme-primary-button-text);
}

.dialog-header-component__title {
    height: 32px;
}
