.snack-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.snack-bar-icon {
    color: white;
    font-size: 20px;
}

.snack-bar-text-with-url {
    color: white;
    flex: 1;
    cursor: pointer;
}

.snack-bar-text {
    color: white;
    flex: 1;
}

.snack-bar-close-button {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.rotation {
    -webkit-animation: rotation 1s infinite linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}