.snack-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.snack-bar-icon {
    color: white;
    font-size: 20px;
}

.snack-bar-text-with-url {
    color: white;
    cursor: pointer;
}

.snack-bar-text {
    color: white;
}

.snack-bar-close-button {
    color: white;
    font-size: 20px;
    cursor: pointer;
}