.app-playback-cover-art {
    width: 70px;
    height: 70px;
    overflow: hidden;
    display: flex;
    background: var(--theme-cover-art-background);
    position: relative;
}

.app-playback-cover-art__logo {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
    z-index: 1;
}

.app-playback-cover-art__logo path {
    fill: var(--theme-cover-art-foreground);
}

#linear-stop1 {
    stop-color: var(--theme-cover-art-primary-foreground);
}

#linear-stop2 {
    stop-color: var(--theme-cover-art-secondary-foreground);
}

.app-playback-cover-art__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.app-playback-cover-art__top__content {
    min-height: 70px;
    min-width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app-playback-cover-art__bottom__content {
    min-height: 70px;
    min-width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
