.app-playback-cover-art {
    width: 70px;
    height: 70px;
    overflow: hidden;
    background: var(--theme-cover-art-background);
    display: grid;
    grid-template-columns: 1fr;
}

.app-playback-cover-art div {
    grid-row-start: 1;
    grid-column-start: 1;
}

.app-playback-cover-art__logo {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-playback-cover-art__logo svg {
    width: 60%;
    height: 60%;
}

.app-playback-cover-art__logo path {
    fill: var(--theme-cover-art-foreground);
}

.app-playback-cover-art__content {
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
}

.app-playback-cover-art__top__content {
    min-height: 70px;
    min-width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app-playback-cover-art__bottom__content {
    min-height: 70px;
    min-width: 70px;
    display: flex;
    flex-direction: column;
}

.app-playback-cover-art__content div {
    min-height: 70px;
    min-width: 70px;
}
