@import "variables";
@import "theming";
@import "font-faces";

.logo {
  display: flex;
  user-select: none;
}

.logo-image {
  width: 64px;
}

.logo-text {
  padding-bottom: 8px;
  flex-grow: 1;
  margin: auto 0px auto 20px;
  font-family: monoglyceride !important;
  font-size: 48px;
}

.logo-icon {
  background: linear-gradient(45deg, var(--primary-color) 30%, var(--secondary-color) 100%);
  width: 64px;
  min-width: 64px;
  height: 64px;
  border-radius: 32px 0px 32px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-icon-content {
  width: 64px;
  height: 64px;
}
