<div class="p-4">
    <div class="title">{{ 'automatic-refresh' | translate }}</div>
    <div>
        <mat-slide-toggle [(ngModel)]="settings.refreshCollectionAutomatically">
            {{ 'refresh-collection-automatically' | translate }}</mat-slide-toggle
        >
    </div>
    <div>
        <mat-slide-toggle class="mt-3" [(ngModel)]="settings.skipRemovedFilesDuringRefresh">
            {{ 'skip-previously-removed-files' | translate }}</mat-slide-toggle
        >
    </div>
    <mat-divider class="my-4"></mat-divider>
    <div class="title">{{ 'manual-refresh' | translate }}</div>
    <div>{{ 'refresh-collection-now' | translate }}</div>
    <app-transparent-button class="mt-3" (click)="refreshNowAsync()">
        {{ 'refresh-now' | translate }}
    </app-transparent-button>
</div>
