.app-now-playing {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.app-now-playing__backgroundimage {
    overflow: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    height: 100%;
    filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.back-button__icon {
    font-size: 20px;
}

.back-button:hover {
    background-color: var(--theme-accent-color);
}

.back-button:hover .back-button__icon {
    color: #fff;
}
