.app-now-playing {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.app-now-playing__content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.app-now-playing__song {
    display: flex;
    flex-direction: row;
}

.app-now-playing__cover {
    -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent, transparent 80%, rgba(255, 255, 255, 0.3));
}

.app-now-playing__songinfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.back-button__icon {
    font-size: 20px;
}

.back-button:hover {
    background-color: var(--theme-accent-color);
    color: #fff;
}
