.app-now-playing {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.app-now-playing__content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.app-now-playing__songinfo {
    width: 800px;
    height: 300px;
    background: red;
}

.app-now-playing__playbackpane {
}

.back-button__icon {
    font-size: 20px;
}

.back-button:hover {
    background-color: var(--theme-accent-color);
    color: #fff;
}
