<div class="playback-queue p-4">
    <h2>{{ 'playback-queue' | translate }}</h2>
    <div class="playback-queue__header m-1 no-select">
        <div class="playback-queue__trackscount mr-2">{{ this.playbackService.playbackQueue.numberOfTracks }}</div>
        <div *ngIf="this.playbackService.playbackQueue.numberOfTracks === 1">{{ 'track' | translate }}</div>
        <div *ngIf="this.playbackService.playbackQueue.numberOfTracks !== 1">{{ 'tracks' | translate }}</div>
    </div>
    <cdk-virtual-scroll-viewport class="playback-queue__tracks mt-3" itemSize="46">
        <div *cdkVirtualFor="let track of this.playbackService.playbackQueue.tracks" (mousedown)="setSelectedTracks($event, track)">
            <app-track
                [track]="track"
                (dblclick)="this.playbackService.playQueuedTrack(track)"
                (contextmenu)="onTrackContextMenu($event, track)"
            ></app-track>
        </div>
    </cdk-virtual-scroll-viewport>
    <app-totals
        class="mt-3"
        [totalDurationInMilliseconds]="this.playbackService.playbackQueue.totalDurationInMilliseconds"
        [totalFileSizeInBytes]="this.playbackService.playbackQueue.totalFileSizeInBytes"
    ></app-totals>
</div>

<div
    #trackContextMenuAnchor
    style="visibility: hidden; position: fixed"
    [style.left]="contextMenuOpener.positionX"
    [style.top]="contextMenuOpener.positionY"
    [matMenuTriggerFor]="trackContextMenu"
></div>
<mat-menu #trackContextMenu="matMenu">
    <ng-template matMenuContent let-track="data">
        <button mat-menu-item (click)="onRemoveFromQueue()">{{ 'remove-from-playback-queue' | translate }}</button>
    </ng-template>
</mat-menu>
