<div class="semantic-zoom-out-viewport py-3 d-flex align-items-center justify-content-center" [@fadeIn]="fadeIn">
    <table class="semantic-table">
        <tr *ngFor="let buttonTextsRow of buttonTexts" class="semantic-row">
            <td *ngFor="let buttonTextsCell of buttonTextsRow" class="semantic-column">
                <app-semantic-zoom-button
                    [text]="buttonTextsCell"
                    [isZoomable]="this.isZoomable(buttonTextsCell)"
                ></app-semantic-zoom-button>
            </td>
        </tr>
    </table>
</div>
