<div class="window-button" mat-icon-button [matMenuTriggerFor]="menu" matTooltip="{{ 'open-menu' | translate }}">
    <div class="main-menu__button">
        <div class="main-menu__icon las la-bars"></div>
        <div class="main-menu__updateindicator" *ngIf="this.updateService.isUpdateAvailable"></div>
    </div>
</div>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goToManageCollection()">
        {{ 'manage-collection' | translate }}
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="goToSettings()">
        {{ 'settings' | translate }}
    </button>
    <button mat-menu-item (click)="goToInformation()">
        {{ 'information' | translate }}
    </button>
    <div *ngIf="this.updateService.isUpdateAvailable">
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="downloadLatestRelease()">
            <div class="accent-color">{{ 'download' | translate }} {{ this.applicationName }} {{ this.updateService.latestRelease }}</div>
        </button>
    </div>
</mat-menu>
