<div class="window-button main-menu-button" mat-icon-button [matMenuTriggerFor]="menu"
    matTooltip="{{ 'Tooltips.OpenMenu' | translate }}">
    <i class="custom-font las la-ellipsis-v"></i>
</div>
<mat-menu #menu="matMenu">
    <button mat-menu-item >
        {{ 'MainMenu.ManageCollection' | translate }}
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item >
        {{ 'MainMenu.Settings' | translate }}
    </button>
    <button mat-menu-item >
        {{ 'MainMenu.Information' | translate }}
    </button>
    <!-- <button class="menu-button" mat-menu-item (click)="addCollectionAsync()">
        <i class="menu-icon custom-font las la-plus"></i>
        {{ 'CollectionSwitcher.AddCollection' | translate }}
    </button>
    <mat-divider></mat-divider>

    <div *ngFor="let collection of collections">
        <button class="menu-button" mat-menu-item>
            <span class="menu-item" (click)="activateCollection(collection)">
                <span class="menu-icon" [ngClass]="{'isActive' : collection === activeCollection }">
                    <i class="custom-font las la-box"></i>
                </span>
                <span>{{ collection }}</span>
            </span>
            <span class="menu-command-item mr-1">
                <span class="menu-command-item-icon mr-2" matTooltip="{{ 'Tooltips.Rename' | translate }}"
                    (click)="renameCollection(collection)">
                    <i class="custom-font lar la-edit"></i>
                </span>
                <span class="menu-command-item-icon" matTooltip="{{ 'Tooltips.Delete' | translate }}"
                    (click)="deleteCollectionAsync(collection)">
                    <i class="custom-font lar la-trash-alt"></i>
                </span>
            </span>
        </button>
    </div> -->
</mat-menu>